//-------------------------------- ROOT STYLES ---------------------------------

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font-size-base;
	// disable old-style digits
	font-variant-numeric: lining-nums;
}

body {
	margin: 0;
	padding: 0;
	background: $body-bg;
	min-width: 320px;
	min-height: 100%;
	position: relative;
	font-family: $font-family-base;
	font-weight: normal;
	color: $text-color;
}

.form-group {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}