$breakpoints: (
	xxsmall: 0px,
	xsmall: 440px,
	small: 560px,
	medium: 768px,
	large: 992px,
	xlarge: 1200px,
	xxlarge: 1920px,
) !default;

/// Returns the first breakpoint key of $breakpoints map
@function first-breakpoint() {
	@return nth(map-keys($breakpoints), 1);
}

/// Returns the last breakpoint key of $breakpoints map
@function last-breakpoint() {
	$keys: map-keys($breakpoints);
	@return nth($keys, length($keys));
}

/// Returns current context (breakpoint key or null outside a context).
@function breakpoint-context() {
	@if not global-vairable-exists(_current-breakpoint) {
		@return null;
	}
	@return $_current-breakpoint;
}

/// Returns the breakpoint following the $bp.
/// If $bp is the last breakpoint returns null.
/// If $bp is null the function will use the breakpoint of the current context.
@function next-breakpoint($bp: null) {
	@if not $bp {
		$bp: breakpoint-context();
		@if not $bp {
			@error "Breakpoint argument was ommited (" + $bp + ") outside an execution context";
		}
	}
	$keys: map-keys($breakpoints);
	$index: index($keys, $bp);
	@if $index == null {
		@error "Not a breakpoint (" + $bp + ")";
	}
	@if $index == length($keys) { // the last one
		@return null;
	}
	@return nth($keys, $index + 1);
}

/// Returns the breakpoint followed by $bp.
/// If $bp is the first breakpoint returns null.
/// If $bp is null the function will use the breakpoint of the current context.
@function prev-breakpoint($bp: null) {
	@if not $bp {
		$bp: breakpoint-context();
		@if not $bp {
			@error "Breakpoint argument was ommited (" + $bp + ") outside an execution context";
		}
	}
	$keys: map-keys($breakpoints);
	$index: index($keys, $bp);
	@if $index == null {
		@error "Not a breakpoint (" + $bp + ")";
	}
	@if $index == 1 { // the first one
		@return null;
	}
	@return nth($keys, $index - 1);
}

/// Applies the breakpoint $bp using the mobile-first approach.
/// The first (fallback) breakpoint's content is added directly
/// into the place the mixin is used (i.e. without a media scope).
@mixin breakpoint($bp) {
	@if not map-has-key($breakpoints, $bp) {
		@error "There is no breakpoint " + $bp;
	}
	$_current-breakpoint: $bp !global;
	@if first-breakpoint() == $bp {
		@content;
	} @else {
		$min: map-get($breakpoints, $bp);
		@media (min-width: ($min)) {
			@content;
		}
	}
	$_current-breakpoint: null !global;
}