//------------------------------ Utilities -------------------------------------
//                     (visible-xxx-yyy, hidden-xxx, text-yyy-xxx)

$visible-display-properties: (
	block, inline, inline-block, table, flex, inline-flex
) !default;
$text-align-properties: (left, center, right) !default;

@each $breakpoint, $width in $breakpoints {
	.visible-#{$breakpoint} { display: none !important; }
	@each $property in $visible-display-properties {
		.visible-#{$breakpoint}-#{$property} { display: none !important; }
	}
	@if $breakpoint != nth(map-keys($breakpoints), 1) {
		@media (min-width: ($width)) {
			@each $property in $text-align-properties {
				.text-#{$property}-#{$breakpoint} { text-align: $property;  }
			}
			.hidden-#{$breakpoint} { display: none !important; }
			.visible-#{$breakpoint} { display: block !important; }
			@each $property in $visible-display-properties {
				.visible-#{$breakpoint}-#{$property} { display: $property !important; }
			}
		}
	}
	@else {
		@each $property in $text-align-properties {
			.text-#{$property}-#{$breakpoint} { text-align: $property; }
		}
		.hidden-#{$breakpoint} { display: none !important; }
		.visible-#{$breakpoint} { display: block !important; }
		@each $property in $visible-display-properties {
			.visible-#{$breakpoint}-#{$property} { display: $property !important; }
		}
	}
}