@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot?97718010');
  src: url('../fonts/fontello/font/fontello.eot?97718010#iefix') format('embedded-opentype'),
		url('../fonts/fontello/font/fontello.woff2?97718010') format('woff2'),
		url('../fonts/fontello/font/fontello.woff?97718010') format('woff'),
		url('../fonts/fontello/font/fontello.ttf?97718010') format('truetype'),
		url('../fonts/fontello/font/fontello.svg?97718010#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-900.eot');
	src: url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-700.eot');
	src: url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/museo-sans-cyrl/subset-MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
