//                                GRID SYSTEM
//-------------------------------- Settings ------------------------------------

// Used by inline-block grid to restore defaults
$font-size-base: 16px !default;
$line-height-base: normal !default;

// May be one of: float | inline-block
$grid-type: inline-block;

$grid-breakpoints: (
	xxsmall: 0px,
	xsmall: 440px,
	small: 560px,
	medium: 768px,
	large: 992px,
	xlarge: 1200px,
	xxlarge: 1920px,
) !default;

// Default number of columns in a grid.
$grid-columns:              12 !default;
// Default gap between columns.
$grid-gutter-x:             15px !default;
$grid-gutter-y:             15px !default;

$grid-epsilon:              0.00000001% !default;

//------------------------------- Mixins ---------------------------------------

@mixin grid-row() {
	@if $grid-type == inline-block {
		font-size: 0;
		line-height: 0;
	}
	@if $grid-type == float {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

@mixin grid-row-gutter($gutter-x: $grid-gutter-x, $gutter-y: $grid-gutter-y) {
	margin-left: (-$gutter-x);
	margin-top: (-$gutter-y);
}

@mixin grid-column() {
	@if $grid-type == inline-block {
		display: inline-block;
		vertical-align: top;
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
	@if $grid-type == float {
		float: left;
	}
}

/**
 * @param $width Column width basis [0..1]
 */
@mixin grid-column-width($width) {
	width: ($width * 100% - $grid-epsilon);
}

/**
 * @param $width Column width basis [0..1]
 */
@mixin grid-column-offset($width) {
	margin-left: ($width * 100% - $grid-epsilon);
}

@mixin grid-column-gutter($gutter-x: $grid-gutter-x, $gutter-y: $grid-gutter-y) {
	padding-left: $gutter-x;
	margin-top: $gutter-y;
}

@mixin grid-columns($columns: $grid-columns, $direct-child: false) {
	$selector: if($direct-child, '>', '');
	@each $breakpoint, $width in $grid-breakpoints {
		@if $breakpoint != nth(map-keys($grid-breakpoints), 1) {
			@media (min-width: $width) {
				@for $column from 1 through $columns {
					#{$selector}.column.#{$breakpoint}-#{$column} {
						@include grid-column-width($column / $columns);
					}
					#{$selector}.column.#{$breakpoint}-offset-#{$column} {
						@include grid-column-offset($column / $columns);
					}
				}
			}
		}
		@else {
			@for $column from 1 through $columns {
				#{$selector}.column.#{$breakpoint}-#{$column} {
					@include grid-column-width($column / $columns);
				}
				#{$selector}.column.#{$breakpoint}-offset-#{$column} {
					@include grid-column-offset($column / $columns);
				}
			}
		}
	}
}

//------------------------------- Classes --------------------------------------

.column {
	@include grid-column();
	@include grid-column-width(1);
	@include grid-column-gutter();

	@at-root .row.expanded > & {
		@include grid-column-gutter(0, 0);
	}
}

@include grid-columns();

.row {
	@include grid-row();
	@include grid-row-gutter();

	&.expanded {
		@include grid-row-gutter(0, 0);
	}

	&.column {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;

		@if $grid-type == inline-block {
			font-size: $font-size-base;
			line-height: $line-height-base;

		}
		@if $grid-type == float {
			float: none;
		}
	}
}