[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;

	&:before {
		content: '';
		display: block;
	}
}

.icon-running-man:before {
	@include sprite($sprite-running-man);
}

.icon-paper-airplane:before {
	@include sprite($sprite-paper-airplane);
}

.icon-location:before {
	@include sprite($sprite-location);
}

.icon-clock:before {
	@include sprite($sprite-clock);
}

.icon-structure:before {
	@include sprite($sprite-structure);
}

.icon-clock-16:before {
	@include sprite($sprite-clock-16);
}

.icon-mobile-16:before {
	@include sprite($sprite-mobile-16);
}

.icon-login-16:before {
	@include sprite($sprite-login-16);
}