$typography-margin: 10px;

%anchor {
	&, &:link, &:visited {
		color: #0b867a;
		text-decoration: underline;
	}

	&:hover {
		color: #73c049;
		text-decoration: underline;
	}
}

.h1 {
	margin: 30px 0 20px;
	padding: 0 0 0 25px;
	font-size: 24px;
	line-height: $line-height-base;
	text-transform: uppercase;
	color: #303030;
	font-family: 'Museo Sans Cyrl';
	font-weight: 700;

	&:first-child { margin-top: 0; }
}

.h2 {
	margin: 20px 0 15px;
	color: $text-color;
	font-size: 18px;
	line-height: $line-height-base;
	font-weight: 700;
	font-family: $font-family-serif;
	text-align: left;
	text-transform: uppercase;

	&:first-child { margin-top: 0; }
}

.h3 {
	margin: 20px 0 10px;
	color: $text-color;
	font-size: 15px;
	line-height: $line-height-base;
	font-weight: 700;
	font-family: $font-family-serif;
	text-align: left;
	text-transform: uppercase;

	&:first-child { margin-top: 0; }
}

%h4-h6 {
	color: $text-color;
	font-size: 13px;
	font-weight: 700;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	text-align: left;
	margin: $typography-margin 0;

	&:first-child { margin-top: 0; }
}

.h4, .h5, .h6 {
	@extend %h4-h6;
}

%ul {
	list-style: none;
	padding: 0 0 0 20px;
	margin: 1.153846153846154em 0; // 15 / 13

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }

	> li {
		display: block;
		position: relative;
		margin: 0 0 1em;
		padding: 0;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0.45em;
			left: -20px;
			display: block;
			width: 7px;
			height: 7px;
			border-radius: 4px;
			background: #ef373c;
		}
	}
}

%ol {
	padding: 0;
	counter-reset: section;
	margin: 1.153846153846154em 0; // 15 / 13

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }

	> li {
		display: block;
		margin: 0 0 1em;
		padding: 0;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: counters(section, ".") ".";
			counter-increment: section;
			margin-right: 9px;
			color: #ef373c;
		}
	}
}

%table {
	$color-lines: #eee;

	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $color-lines;

	> tbody > tr {
		> th {
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			line-height: (40 / 28);
			padding: 10px 15px;
			background: $color-lines;
			border-bottom: 2px solid $text-color;
			vertical-align: middle;

			@include breakpoint(medium) {
				font-size: 28px;
			}
		}

		> td {
			padding: 45px 15px;
			border: 1px solid $color-lines;
			font-weight: 400;
			vertical-align: middle;
		}

		> td:nth-child(n+2) {
			white-space: nowrap;

			@include breakpoint(large) {
				min-width: 150px;
			}
		}
	}
}

@mixin make-typography-margins() {
	margin: 0 0 $typography-margin;

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin typography() {
	@extend %clearfix;

	font-size: 13px;
	line-height: (20 / 13);

	a { @extend %anchor; }

	p {
		text-indent: 0;
		@include make-typography-margins;
	}

	h1, .h1 { @extend .h1; }
	h2, .h2 { @extend .h2; }
	h3, .h3 { @extend .h3; }
	h4, h5, h6, .h4, .h5, .h5 { @extend %h4-h6; }

	ul { @extend %ul; }
	ol { @extend %ol; }

	img {
		display: block;
		max-width: 100%;
		border: 0;
	}

	img.alignright { display: inline-block; float: right; margin: 5px 0 20px 30px; }
	img.alignleft { display: inline-block; float: left; margin: 5px 30px 20px 0; }
	img.aligncenter { display: block; margin: 0 auto 10px; }

	table {
		@extend %table;
		@include make-typography-margins;
	}

	blockquote {
		@include make-typography-margins;
	}
}

.table-responsive {
	overflow-x: auto;
	max-width: 100%;

	@include make-typography-margins;

	> table { margin-bottom: 0 !important; }
}

.article-content {
	@include typography();
}