// The function is too often implemented by libraries
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
	$is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
	$is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
	@return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
@function legacy-direction($value) {
	@if is-direction($value) == false {
		@error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
	}
	// I'm using somewhat like STRINGIZE macro in C++ here as
	// current version of libsass has a bug in hash function
	// and doesn't distinguish bentween `a b` and `b a` keywords.
	// Ruby sass compiler works correctly but it executes several
	// times slower.
	$conversion-map: (
		"to top"          : bottom,
		"to top right"    : bottom left,
		"to right top"    : left bottom,
		"to right"        : left,
		"to bottom right" : top left,
		"to right bottom" : left top,
		"to bottom"       : top,
		"to bottom left"  : top right,
		"to left bottom"  : right top,
		"to left"         : right,
		"to left top"     : right bottom,
		"to top left"     : bottom right
	);
	@if map-has-key($conversion-map, "#{$value}") {
		@return map-get($conversion-map, "#{$value}");
	}
	@return 90deg - $value;
}

@mixin linear-gradient ($direction, $color-stops...) {
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}
	$legacy-direction: legacy-direction($direction);
	// First color stop's color.
	background: nth(nth($color-stops, 1), 1);
	// FF3.6+
	background: -moz-linear-gradient($legacy-direction, $color-stops);
	// Chrome10+,Safari5.1+
	background: -webkit-linear-gradient($legacy-direction, $color-stops);
	// Opera 11.10+
	background: -o-linear-gradient($legacy-direction, $color-stops);
	// IE10+
	background: -ms-linear-gradient($legacy-direction, $color-stops);
	// W3C
	background: linear-gradient($direction, $color-stops);
}

@mixin radial-gradient ($shape, $rest...) {
	background: -webkit-radial-gradient($shape, $rest); /* Safari 5.1-6.0 */
	background: -o-radial-gradient($shape, $rest); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient($shape, $rest); /* For Firefox 3.6-15 */
	background: radial-gradient($shape, $rest); /* Standard syntax */
}

@mixin repeating-radial-gradient ($shape, $rest...) {
	background: -webkit-repeating-radial-gradient($shape, $rest); /* Safari 5.1-6.0 */
	background: -o-repeating-radial-gradient($shape, $rest); /* For Opera 11.6-12.0 */
	background: -moz-repeating-radial-gradient($shape, $rest); /* For Firefox 3.6-15 */
	background: repeating-radial-gradient($shape, $rest); /* Standard syntax */
}

/// @param $sizing ( content-box | border-box | inherit )
@mixin box-sizing ($sizing) {
	-moz-box-sizing:    $sizing;
	-webkit-box-sizing: $sizing;
	box-sizing:         $sizing;
}

// [ none | <property> ] || <duration> || <timing-function> || <delay>
@mixin transition ($t...) {
	-webkit-transition: $t;
	-moz-transition:    $t;
	transition:         $t;
}

@mixin border-radius ($r) {
	-moz-border-radius:    $r;
	-khtml-border-radius:  $r;
	-webkit-border-radius: $r;
	border-radius:         $r;
}

@mixin border-radius-bottom-left ($r) {
	-webkit-border-bottom-left-radius: $r;
	-moz-border-radius-bottomleft: $r;
	border-bottom-left-radius: $r;
}

@mixin border-radius-bottom-right ($r) {
	-webkit-border-bottom-right-radius: $r;
	-moz-border-radius-bottomright: $r;
	border-bottom-right-radius: $r;
}

@mixin border-radius-top-left ($r) {
	-webkit-border-top-left-radius: $r;
	-moz-border-radius-topleft: $r;
	border-top-left-radius: $r;
}

@mixin border-radius-top-right ($r) {
	-webkit-border-top-right-radius: $r;
	-moz-border-radius-topright: $r;
	border-top-right-radius: $r;
}

@mixin border-radius-left ($r) {
	@include border-radius-bottom-left($r);
	@include border-radius-top-left($r);
}

@mixin border-radius-right ($r) {
	@include border-radius-bottom-right($r);
	@include border-radius-top-right($r);
}

@mixin border-radius-top ($r) {
	@include border-radius-top-right($r);
	@include border-radius-top-left($r);
}

@mixin border-radius-bottom ($r) {
	@include border-radius-bottom-right($r);
	@include border-radius-bottom-left($r);
}

@mixin border-radiuses ($topleft, $topright, $bottomright, $bottomleft) {
	@include border-radius-top-right($topright);
	@include border-radius-bottom-right($bottomright);
	@include border-radius-bottom-left($bottomleft);
	@include border-radius-top-left($topleft);
}

/// $param select = (none|text|all)
@mixin user-select ($select: none) {
	-webkit-user-select: $select;
	-khtml-user-select: $select;
	-moz-user-select: $select;
	-o-user-select: $select;
	user-select: $select;
}

@mixin touch-action($action: none) {
	-ms-touch-action: $action;
	touch-action: $action;
}

@mixin opacity ($alpha: 1.0) {
	$msalpha: floor($alpha * 100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=${msalpha})";
	filter: alpha(opacity=$msalpha);
	opacity: $alpha;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;	
	}
	@-moz-keyframes #{$name} {
		@content;	
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation ($name) {
	-webkit-animation: $name;
	-moz-animation:    $name;
	animation:         $name;
}

@mixin animation-duration ($time) {
	-webkit-animation-duration: $time; // Safari 4
	-moz-animation-duration:    $time; // [5, 16)
	-o-animation-duration:      $time; // [12, 12.10)
	animation-duration:         $time;
}

@mixin transform ($t...) {
	-webkit-transform:   $t;
	-moz-transform: 	 $t; // 3.5 - 15
	-ms-transform: 		 $t; // IE9 only
	-o-transform: 		 $t; // 11.5 only
	transform:           $t;
}

@mixin perspective ($value) {
	-webkit-perspective: strip-unit($value);
	-moz-perspective:    strip-unit($value);
	perspective:         $value;
}

@mixin transform-origin ($orig) {
	-webkit-transform-origin: $orig;
	-moz-transform-origin:    $orig;
	-ms-transform-origin:     $orig;
	-o-transform-origin:      $orig;
	transform-origin:         $orig;
}

@mixin placeholder () {
	&::-moz-placeholder           { @content; } // Firefox
	&:-ms-input-placeholder       { @content; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { @content; } // Safari and Chrome
}

@mixin selection ($applyToAllChildren: true) {
	@if ($applyToAllChildren) {
		::-moz-selection { @content; }
		::selection      { @content; }
	}
	@else {
		&::-moz-selection { @content; }
		&::selection      { @content; }
	}
}

%display-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex ($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

@mixin order ($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}

@mixin box-orient ($orient) {
	-webkit-box-orient: $orient;
	-moz-box-orient: $orient;
	-ms-box-orient: $orient;
	box-orient: $orient;
}

@mixin column-count($count) {
	-webkit-column-count: $count; /* Chrome, Safari, Opera */
	-moz-column-count: $count; /* Firefox */
	column-count: $count;
}

@mixin column-gap($value) {
	-webkit-column-gap: $value; /* Chrome, Safari, Opera */
	-moz-column-gap: $value; /* Firefox */
	column-gap: $value;
}

@mixin break-inside($val) {
	@if ($val == avoid-column) {
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		-o-column-break-inside: avoid;
		-ms-column-break-inside: avoid;
		column-break-inside: avoid;
	}
	break-inside: $val;
}

@mixin filter($value) {
	-webkit-filter: $value;
	filter:         $value;
}

@mixin border-image($value) {
	-o-border-image: $value;
	border-image: $value;
}

%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/**
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
%clearfix-before {
	&:before {
		content: ' ';
		display: table;
	}
}

%clearfix-after {
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
	*zoom: 1;
}

%clearfix {
	@extend %clearfix-before;
	@extend %clearfix-after;
}


/**
 * Everything but Internet Explorer ≤8
 */
@mixin gt-ie8() {
	:root {
		@content;
	}
}

/**
 * Internet Explorer/Edge 8
 */
@mixin eq-ie8() {
	@media \0screen {
		@content;
	}
}

/**
 * Internet Explorer/Edge 6-8
 */
@mixin ie8-prop($name, $value) {
	#{$name}: #{$value}\9;
}

// Flexbox Mixins
//
// This is a set of mixins for those who want to mess around with flexbox
// using the native support of current browsers. For full support table
// check: http://caniuse.com/flexbox
//
// Basically this will use:
//
// * Fallback, old syntax (IE10, mobile webkit browsers - no wrapping)
// * Final standards syntax (FF, Safari, Chrome, IE11, Opera)
// 
// * http://w3.org/tr/css3-flexbox/
// * http://the-echoplex.net/flexyboxes/
// * http://msdn.microsoft.com/en-us/library/ie/hh772069(v=vs.85).aspx
// * http://css-tricks.com/using-flexbox/
// * http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
// * https://developer.mozilla.org/en-us/docs/web/guide/css/flexible_boxes

//----------------------------------------------------------------------

// Flexbox Containers

@mixin display-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

%display-flex { @include display-flex; }

@mixin display-inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

%display-inline-flex { @include display-inline-flex; }

//----------------------------------------------------------------------

// Flexbox Direction
//
// The 'flex-direction' property specifies how flex items are placed in
// the flex container, by setting the direction of the flex container's
// main axis. This determines the direction that flex items are laid out in. 
//
// Values: row | row-reverse | column | column-reverse
// Default: row
//
// http://w3.org/tr/css3-flexbox/#flex-direction-property

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}
	// Shorter version:
	@mixin flex-dir($args...) { @include flex-direction($args...); }

//----------------------------------------------------------------------

// Flexbox Wrap
//
// The 'flex-wrap' property controls whether the flex container is single-line
// or multi-line, and the direction of the cross-axis, which determines
// the direction new lines are stacked in. 
//
// Values: nowrap | wrap | wrap-reverse
// Default: nowrap
//
// http://w3.org/tr/css3-flexbox/#flex-wrap-property

@mixin flex-wrap($value: nowrap) {
	// No Webkit Box fallback.
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else { 
		-ms-flex-wrap: $value; 
	}
	flex-wrap: $value;
}

//----------------------------------------------------------------------

// Flexbox Flow (shorthand)
//
// The 'flex-flow' property is a shorthand for setting the 'flex-direction'
// and 'flex-wrap' properties, which together define the flex container's
// main and cross axes.
//
// Values: <flex-direction> | <flex-wrap> 
// Default: row nowrap
//
// http://w3.org/tr/css3-flexbox/#flex-flow-property

@mixin flex-flow($values: (row nowrap)) {
	// No Webkit Box fallback.
	-webkit-flex-flow: $values;
	-moz-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

//----------------------------------------------------------------------

// Flexbox Order
//
// The 'order' property controls the order in which flex items appear within
// their flex container, by assigning them to ordinal groups.
//
// Default: 0
//
// http://w3.org/tr/css3-flexbox/#order-property

@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-moz-order: $int;
	-ms-flex-order: $int;
	order: $int;
}

//----------------------------------------------------------------------

// Flexbox Grow
//
// The 'flex-grow' property sets the flex grow factor. Negative numbers
// are invalid.
//
// Default: 0
//
// http://w3.org/tr/css3-flexbox/#flex-grow-property

@mixin flex-grow($int: 0) {
	-webkit-box-flex: $int;
	-webkit-flex-grow: $int;
	-moz-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}

//----------------------------------------------------------------------

// Flexbox Shrink
//
// The 'flex-shrink' property sets the flex shrink factor. Negative numbers
// are invalid.
//
// Default: 1
//
// http://w3.org/tr/css3-flexbox/#flex-shrink-property

@mixin flex-shrink($int: 1) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink: $int;
	-ms-flex-negative: $int;
	flex-shrink: $int;
}

//----------------------------------------------------------------------

// Flexbox Basis
//
// The 'flex-basis' property sets the flex basis. Negative lengths are invalid. 
//
// Values: Like "width" 
// Default: auto
//
// http://www.w3.org/TR/css3-flexbox/#flex-basis-property

@mixin flex-basis($value: auto) {
	-webkit-flex-basis: $value;
	-moz-flex-basis: $value;
	-ms-flex-preferred-size: $value;
	flex-basis: $value;
}

//----------------------------------------------------------------------

// Flexbox "Flex" (shorthand)
//
// The 'flex' property specifies the components of a flexible length: the
// flex grow factor and flex shrink factor, and the flex basis. When an
// element is a flex item, 'flex' is consulted instead of the main size
// property to determine the main size of the element. If an element is
// not a flex item, 'flex' has no effect.
//
// Values: none | <flex-grow> <flex-shrink> || <flex-basis>
// Default: See individual properties (1 1 0).
//
// http://w3.org/tr/css3-flexbox/#flex-property

@mixin flex($fg: 1, $fs: null, $fb: null) {
    
	// Set a variable to be used by box-flex properties
	$fg-boxflex: $fg;

	// Box-Flex only supports a flex-grow value so let's grab the
	// first item in the list and just return that.
	@if type-of($fg) == 'list' {
		$fg-boxflex: nth($fg, 1);
	}

	-webkit-box-flex: $fg-boxflex;
	-webkit-flex: $fg $fs $fb;
	-moz-box-flex: $fg-boxflex;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

//----------------------------------------------------------------------

// Flexbox Justify Content
//
// The 'justify-content' property aligns flex items along the main axis
// of the current line of the flex container. This is done after any flexible
// lengths and any auto margins have been resolved. Typically it helps distribute
// extra free space leftover when either all the flex items on a line are
// inflexible, or are flexible but have reached their maximum size. It also
// exerts some control over the alignment of items when they overflow the line.
//
// Note: 'space-*' values not supported in older syntaxes.
//
// Values: flex-start | flex-end | center | space-between | space-around
// Default: flex-start
//
// http://w3.org/tr/css3-flexbox/#justify-content-property

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;		
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}
	// Shorter version:
	@mixin flex-just($args...) { @include justify-content($args...); }

//----------------------------------------------------------------------

// Flexbox Align Items
//
// Flex items can be aligned in the cross axis of the current line of the
// flex container, similar to 'justify-content' but in the perpendicular
// direction. 'align-items' sets the default alignment for all of the flex
// container's items, including anonymous flex items. 'align-self' allows
// this default alignment to be overridden for individual flex items. (For
// anonymous flex items, 'align-self' always matches the value of 'align-items'
// on their associated flex container.) 
//
// Values: flex-start | flex-end | center | baseline | stretch
// Default: stretch
//
// http://w3.org/tr/css3-flexbox/#align-items-property

@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}

//----------------------------------

// Flexbox Align Self
//
// Values: auto | flex-start | flex-end | center | baseline | stretch
// Default: auto

@mixin align-self($value: auto) {
	// No Webkit Box Fallback.
	-webkit-align-self: $value;
	-moz-align-self: $value;
	@if $value == flex-start {
		-ms-flex-item-align: start;
	} @else if $value == flex-end {
		-ms-flex-item-align: end;
	} @else {
		-ms-flex-item-align: $value;
	}
	align-self: $value;
}

//----------------------------------------------------------------------

// Flexbox Align Content
//
// The 'align-content' property aligns a flex container's lines within the
// flex container when there is extra space in the cross-axis, similar to
// how 'justify-content' aligns individual items within the main-axis. Note,
// this property has no effect when the flexbox has only a single line.
//
// Values: flex-start | flex-end | center | space-between | space-around | stretch
// Default: stretch
//
// http://w3.org/tr/css3-flexbox/#align-content-property

@mixin align-content($value: stretch) {
	// No Webkit Box Fallback.
	-webkit-align-content: $value;
	-moz-align-content: $value;
	@if $value == flex-start {
		-ms-flex-line-pack: start;
	} @else if $value == flex-end {
		-ms-flex-line-pack: end;
	} @else {
		-ms-flex-line-pack: $value;
	}
	align-content: $value;
}