<nav class="bottom-nav">
	<ul>
		<li class="current-ancestor"><a href="categories.html">Магазины</a></li>
		<li><a href="#">Еда</a></li>
		<li><a href="#">Услуги</a></li>
		<li><a href="#">Детям</a></li>
		<li><a href="cinema.html">Кинотеатр</a></li>
		<li><a href="promo.html">Акции</a></li>
	</ul>
</nav>