	<!-- Polyfills -->
	<script src="bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
	<script src="bower_components/picturefill/dist/picturefill.min.js"></script>
	<script src="bower_components/objectFitPolyfill/dist/objectFitPolyfill.min.js"></script>

	<!-- Plugins -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/hammerjs/hammer.min.js"></script>
	<script src="bower_components/swiper/dist/js/swiper.jquery.min.js"></script>
	<!--<script src="bower_components/remodal/dist/remodal.min.js"></script>-->
	
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBznyFwax1Q8h_Cvma54eranKfwg7ohS6c&callback=App.initMap"></script>

	<!-- Application bundles -->
	<script src="js/app.min.js"></script>

	<!--
		Application initialization.
		That's the place where the server script may inject some config.
	-->
	<script type="text/javascript">
		$(document).ready(function() {
			$.extend(App.config, {
				// Put Backend -> Frontend settings here
				map: {
					center: {lat: 55.649969117383996, lng: 37.77033939685066},
					zoom: 14
				}
			});
			App.init();
		});
	</script>
</body>
</html>