<footer>
	<div class="top">
		<div class="logo-col">
			<a href="index.html" class="logo"></a>
			<a class="default button has-structure-icon" href="plan.html">Схема комплекса</a>
			<a href="#" class="default button">Подписаться на рассылку</a>
		</div>
		<div class="contacts-col">
			<div class="contacts-inner">
				<div class="address">
					Москва, ул. Поречная, 10<br>
					<a href="contacts.html">Как к нам добраться?</a>
				</div>
				<a href="tel:+74957437500" class="tel">+7 (495) 743-75-00</a>
				<a href="mailto:info@sitename.com" class="email">info@sitename.com</a>
			</div>
		</div>
		<div class="schedule-col">
			<div class="schedule-inner">
				<div class="schedule">
					Торговый комплекс: 10:00 - 22:00<br>
					Супермаркет: 08:00 - 23:00<br>
					Кинотеатр 10:00 - 03:00
				</div>
				<div class="copyright">© ТРК MARI, 2016</div>
			</div>
		</div>
		<div class="social-col">
			<div class="social">
				<div class="social-label">Мы в соц сетях:</div>
				<div class="social-buttons">
					<a href="#"><i class="fonticon-vk"></i></a>
					<a href="#"><i class="fonticon-facebook"></i></a>
					<a href="#"><i class="fonticon-youtube"></i></a>
					<a href="#"><i class="fonticon-twitter"></i></a>
				</div>
			</div>
			<a href="#" class="default button">Подписаться на рассылку</a>
		</div>
	</div> <!-- /.top -->
	<div class="bottom">
		<div class="mobile-apps">
			<div class="title">Мобильные приложения:</div>
			<a class="google-play" href="#">Google Play</a>
			<a class="app-store" href="#">App Store</a>
		</div>
		<a class="developer" href="#">Продвижение и разработка сайта</a>
	</div>
</footer>