<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Mari</title>

	<!--<link href="bower_components/remodal/dist/remodal.css" rel="stylesheet" type="text/css">-->
	<link href="bower_components/swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css">
	<link href="css/main.css" rel="stylesheet" type="text/css">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
	<nav class="top-nav">
		<div class="container">
			<ul class="menu">
				<li><a href="index.html">Главная</a></li>
				<li><a href="news.html">Новости</a></li>
				<li><a href="events.html">События</a></li>
				<li><a href="about.html">ТРК MARi</a></li>
				<li><a href="#">Карьера</a></li>
				<li><a href="to-renters.html">Арендаторам</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
			<ul class="links">
				<li><a href="#"><i class="icon-running-man"></i>Вакансии</a></li>
				<li><a href="contacts.html"><i class="icon-paper-airplane"></i>Связаться с нами</a></li>
			</ul>
		</div>
	</nav>
	<header>
		<div class="container">
			<div class="left">
				<div class="left-inner">
					<div class="address">
						Москва, ул. Поречная, 10<br>
						<a href="contacts.html">Как к нам добраться?</a>
					</div>
					<div class="schedule">
						Время работы:<br>
						10:00 - 22:00
					</div>
				</div>
			</div>
			<div class="right">
				<a class="default button has-structure-icon" href="plan.html">Схема комплекса</a>
				<div class="social-buttons">
					<a href="#"><i class="fonticon-vk"></i></a>
					<a href="#"><i class="fonticon-facebook"></i></a>
					<a href="#"><i class="fonticon-youtube"></i></a>
					<a href="#"><i class="fonticon-twitter"></i></a>
				</div>
			</div>
			<a class="logo" href="index.html"></a>
			<div class="hamburger">
				<i class="hamburger-inner"></i>
			</div>
		</div>
	</header>
	<nav class="primary-nav">
		<ul>
			<li class="has-children current-parent">
				<a href="categories.html">Магазины</a>
				<ul>
					<li class="current"><a href="brands.html">Одежда</a></li>
					<li><a href="brands.html">Обувь и сумки</a></li>
					<li><a href="brands.html">Нижнее белье, купальники</a></li>
					<li><a href="brands.html">Аксессуары</a></li>
					<li><a href="brands.html">Продукты питания</a></li>
					<li><a href="brands.html">Красота и здоровье</a></li>
					<li><a href="brands.html">Детские товары</a></li>
					<li><a href="brands.html">Мебель, товары для дома</a></li>
					<li><a href="brands.html">Книги, музыка, хобби</a></li>
					<li><a href="brands.html">Техника и связь</a></li>
				</ul>
			</li>
			<li><a href="#">Еда</a></li>
			<li><a href="#">Услуги</a></li>
			<li><a href="#">Детям</a></li>
			<li><a href="cinema.html">Кинотеатр</a></li>
			<li><a href="promo.html">Акции</a></li>
		</ul>
	</nav>
	<nav class="mobile-nav">
		<ul>
			<li><a href="index.html">Главная</a></li>
			<li class="has-children current-parent">
				<a href="shops.html">Магазины</a>
				<ul>
					<li class="current"><a href="shops.html">Категория 1</a></li>
					<li><a href="shops.html">Категория 2</a></li>
					<li><a href="shops.html">Категория 3</a></li>
				</ul>
			</li>
			<li><a href="#">Еда</a></li>
			<li><a href="#">Услуги</a></li>
			<li><a href="#">Детям</a></li>
			<li><a href="cinema.html">Кинотеатр</a></li>
			<li><a href="promo.html">Акции</a></li>
			<li><a href="news.html">Новости</a></li>
			<li><a href="about.html">ТРК MARi</a></li>
			<li><a href="#">Карьера</a></li>
			<li><a href="to-renters.html">Арендаторам</a></li>
			<li><a href="contacts.html">Контакты</a></li>
		</ul>
	</nav>