<div class="plan">
	<div class="sidebar" style="display:none">
		<div class="selectable dropdown floor-dropdown">
			<a data-toggle="dropdown" href="#"><span>Все этажи</span></a>
			<ul class="dropdown-menu">
				<li><a href="#">Все этажи</a></li>
				<li><a href="#1">1 этаж</a></li>
				<li><a href="#2">2 этаж</a></li>
				<li><a href="#3">3 этаж</a></li>
				<li><a href="#4">4 этаж</a></li>
				<li><a href="#5">5 этаж</a></li>
			</ul>
		</div>
		<ul class="legend legend-3">
			<li>
				<!-- href := #{floor}-{zone} -->
				<a href="#3-1">
					<svg x="0px" y="0px" viewBox="0 0 1000 1000">
						<path
							fill="#D9AF4C"
							stroke="#CC9000"
							stroke-width="70"
							stroke-miterlimit="10"
							d="M44,45c73.2,14.2,487.2,94.7,610.1,142.5c102.6,39.9,269,130.1,304.1,299.1C993.5,655.4,856,805.5,823.7,839.9 c-21.5,22.9-150.4,144.7-309.4,122.4c-160.8-22.5-267.9-171.7-323-308.5C144.5,537.6,54.5,110.5,44,45z"/>
					</svg>
					Молодежная и повседневная одежда
				</a>
			</li>
			<li>
				<a href="#3-2">
					<svg x="0px" y="0px" viewBox="0 0 1000 1000">
						<path
							fill="#c1d3e7"
							stroke="#aac5e1"
							stroke-width="70"
							stroke-miterlimit="10"
							d="M44,45c73.2,14.2,487.2,94.7,610.1,142.5c102.6,39.9,269,130.1,304.1,299.1C993.5,655.4,856,805.5,823.7,839.9 c-21.5,22.9-150.4,144.7-309.4,122.4c-160.8-22.5-267.9-171.7-323-308.5C144.5,537.6,54.5,110.5,44,45z"/>
					</svg>
					Рестораны и кафе
				</a>
			</li>
			<li>
				<a href="#3-3">
					<svg x="0px" y="0px" viewBox="0 0 1000 1000">
						<path
							fill="#fd9c9c"
							stroke="#ff7575"
							stroke-width="70"
							stroke-miterlimit="10"
							d="M44,45c73.2,14.2,487.2,94.7,610.1,142.5c102.6,39.9,269,130.1,304.1,299.1C993.5,655.4,856,805.5,823.7,839.9 c-21.5,22.9-150.4,144.7-309.4,122.4c-160.8-22.5-267.9-171.7-323-308.5C144.5,537.6,54.5,110.5,44,45z"/>
					</svg>
					Спорт и фитнес
				</a>
			</li>
			<li>
				<a href="#3-4">
					<svg x="0px" y="0px" viewBox="0 0 1000 1000">
						<path
							fill="#fccda1"
							stroke="#f8b97b"
							stroke-width="70"
							stroke-miterlimit="10"
							d="M44,45c73.2,14.2,487.2,94.7,610.1,142.5c102.6,39.9,269,130.1,304.1,299.1C993.5,655.4,856,805.5,823.7,839.9 c-21.5,22.9-150.4,144.7-309.4,122.4c-160.8-22.5-267.9-171.7-323-308.5C144.5,537.6,54.5,110.5,44,45z"/>
					</svg>
					Бытовая техника / Товары для дома
				</a>
			</li>
		</ul> <!-- /.legend -->
	</div> <!-- /.sidebar -->
	<div class="stage">В РАЗРАБОТКЕ...</div>
</div> <!-- /.plan -->