$bottom-nav-bp: $header-hamburger-bp !default;

.bottom-nav {
	position: relative;
	background: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, .12);
	font-size: 14px;
	margin-top: 70px;

	@media (min-width: $bottom-nav-bp) {
		padding: 0 $container-margin;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		height: 1px;
		background: #e4e4e4;
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (min-width: $bottom-nav-bp) {
			margin: 0 auto;
			max-width: $max-container-width;

			display: flex;
			justify-content: space-around;
		}

		@media (min-width: 1170px) {
			padding: 0 20px;
		}

		> li {
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			height: 54px;
			border-bottom: 1px solid #e4e4e4;
			text-align: center;

			&:last-child {
				border-bottom: 0;
			}

			@media (min-width: $bottom-nav-bp) {
				border-bottom: 0;
				text-align: left;

				&:after {
					content: '';
					position: absolute;
					z-index: 2;
					left: 0;
					right: 0;
					bottom: 0;
					height: 2px;
					background: #e5493a;
					opacity: 0;
					transform: scale(0, 1);
					transition: transform 150ms linear, opacity 0s 150ms linear;
				}

				&:hover:after,
				&.open:after,
				&.current:after,
				&.current-parent:after,
				&.current-ancestor:after {
					opacity: 1;
					transform: scale(1, 1);
					transition: transform 100ms ease-out;
				}
			}

			> a {
				display: block;
				padding: 0 25px;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 52px;
				white-space: nowrap;
				transition: color 150ms linear;

				&, &:link, &:visited, &:hover {
					color: $text-color;
					text-decoration: none;
				}
			}

			> a:hover {
				color: #ef373c;
				transition: color 0s linear;
			}

			@media (min-width: $bottom-nav-bp) {
				&.current > a,
				&.current-parent > a,
				&.current-ancestor > a,
				> a:hover {
					color: #ef373c;
					transition: color 100ms linear;

					&:after {
						border-top-color: #ef373c;
					}
				}
			}
		} // 1st li
	} // 1st ul
}