.brands-grid {
	$gutter-x: 55px;
	$gutter-y: 55px;

	list-style: none;
	margin: (-$gutter-y) 0 0 (-$gutter-x);
	padding: 0;
	font-size: 0;
	line-height: 1;

	> li {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin: $gutter-y 0 0 0;
		padding: 0 0 0 $gutter-x;

		> a {
			display: block;
			text-align: center;

			> img {
				display: inline-block;
				max-width: 100%;
				border: 0;
			}
		}
	}

	$first-breakpoint: nth(map-keys($grid-breakpoints), 1);
	@each $breakpoint, $width in $grid-breakpoints {
		@if $breakpoint != $first-breakpoint {
			@media (min-width: $width) {
				@for $column from 1 through $grid-columns {
					&.#{$breakpoint}-#{$column} > li {
						width: (100% * $column / $grid-columns - $grid-epsilon);
					}
				}
			}
		}
	}
}