.breadcrumbs {
	list-style: none;
	margin: 15px 0;
	padding: 0;
	font-size: 0;
	font-weight: 300;
	color: #9c9c9c;

	> li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 14px;
		padding: 0;
		font-size: 12px;
		line-height: (20 / 12);

		&:before {
			content: '/';
			position: absolute;
			left: -14px;
			display: block;
			width: 4px;
			text-align: center;
		}

		&:first-child {
			margin-left: 0;

			&:before { display: none; }
		}

		> a {
			&, &:link, &:visited {
				color: #9c9c9c;
				text-decoration: none;
			}

			&:hover {
				color: #9c9c9c;
				text-decoration: underline;
			}
		}
	}
}