@mixin button() {
	$height: map-get($control-height, base);
	$font-size: 12px;
	$line-height: 1.3;
	$v-padding: control-v-padding($height, $font-size, $line-height, 1px);

	display: inline-block;
	height: $height;
	padding: $v-padding 25px;
	border: 1px solid #e4e4e4;
	border-radius: ceil($height / 2);
	line-height: $line-height;
	font-family: 'Open Sans', sans-serif;
	font-size: $font-size;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	box-shadow: none;
	outline: none !important;
	white-space: nowrap;

	&, &:link, &:visited, &:hover {
		color: $text-color;
		text-decoration: none;
	}
}

.button {
	@include button();
}

.button + .button {
	margin-left: 7px;
}

@mixin button-default() {
	background: #fff;
	transition: color 150ms linear, border-color 150ms linear, background-color 150ms linear;

	&:hover, &:focus {
		border-color: #ef373c;
		background-color: #ef373c;
		color: #fff;
	}

	&:active {
		border-color: darken(#ef373c, 5%);
		background-color: darken(#ef373c, 5%);
		transition: none;
	}
}

@mixin button-primary() {
	border-color: #ef373c;
	background: #ef373c;
	transition: color 150ms linear, border-color 150ms linear, background-color 150ms linear;

	&, &:link, &:visited, &:hover {
		color: #fff;
	}

	&:hover, &:focus {
		border-color: darken(#ef373c, 8%);
		background-color: darken(#ef373c, 8%);
	}

	&:active {
		border-color: darken(#ef373c, 10%);
		background-color: darken(#ef373c, 10%);
		transition: none;
	}
}

.button.default {
	@include button-default();
}

.button.primary {
	@include button-primary();
}

@mixin button-size($size) {
	$height: map-get($control-height, $size);
	$font-size: 12px;
	$line-height: 1.3;
	$v-padding: control-v-padding($height, $font-size, $line-height, 1px);

	height: $height;
	padding: $v-padding 15px;
}

.button.small {
	@include button-size(small);
}

@mixin button-expanded() {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.button.expanded {
	@include button-expanded();
}

.button.has-structure-icon {
	position: relative;
	background: #fff;
	transition: color 150ms linear, border-color 150ms linear, background-color 150ms linear;
	padding-right: 26px;
	padding-left: 65px;

	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 24px;
		display: block;
		margin-top: round(-$sprite-structure-height / 2);
		transition: opacity 150ms linear;
	}

	&:before {
		z-index: 1;
		@include sprite($sprite-structure);
		opacity: 1;
	}

	&:hover:before,
	&:active:before {
		opacity: 0;
	}

	&:after {
		z-index: 2;
		@include sprite($sprite-structure-white);
		opacity: 0;
	}

	&:hover:after,
	&:active:after {
		opacity: 1;
	}
}