.callback-form {
	box-shadow: 3px 3px 16px rgba(0, 0, 0, .1);
	padding: 27px 10px 27px;

	@media (min-width: map-get($breakpoints, small)) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.title {
		padding: 0;
		margin: 0 0 23px;
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		line-height: $line-height-base;
	}

	.button {
		display: table;
		margin: 24px auto 0;
		max-width: 100%;
		padding-left: 49px;
		padding-right: 49px;
	}
}