.category-card {
	position: relative;
	display: block;
	max-width: 270px;
	font-size: 0;

	> img {
		display: block;
		width: 100%;
		border: 0;
	}

	.title {
		position: absolute;
		bottom: 30px;
		left: 20px;
		right: 20px;
		display: block;
		padding: 9px 7px;
		border-radius: 19px;
		background: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.06);
		font-size: 12px;
		font-weight: 600;
		line-height: (20 / 12);
		text-align: center;
		text-transform: uppercase;
		color: $text-color;
		transition: color 150ms linear, background-color 150ms linear;
	}

	&:hover .title,
	&:active .title {
		background: #ee343d;
		color: #fff;
	}
}