.contacts-grid {
	$bp-2-cols: map-get($breakpoints, small);
	$bp-4-cols: map-get($breakpoints, large);

	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 0 25px;
	padding: 0;
	font-size: 13px;
	line-height: (22 / 13);
	color: $text-color;

	> li {
		display: block;
		width: 100%;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $bp-2-cols) {
			width: 50%;
			margin-bottom: 0;
			padding: 5px 15px;
			border-left: 1px solid #e4e4e4;
			border-top: 1px solid #e4e4e4;

			&:nth-child(2n-1) {
				border-left-width: 0;
				padding-left: 0;
			}

			&:nth-child(2n) {
				padding-right: 0;
			}

			&:nth-child(-n+2) {
				padding-top: 0;
				border-top: 0;
			}

			&:nth-last-child(-n+2) {
				padding-bottom: 0;
			}
		}

		@media (min-width: $bp-4-cols) {
			padding-top: 0;
			padding-bottom: 0;
			border-top: 0;
			width: 25%;

			&:nth-child(2n-1),
			&:nth-child(2n) {
				padding: 0 15px;
				border-left-width: 1px;
			}

			&:nth-child(4n-3) {
				padding-left: 0;
				border-left-width: 0;
			}

			&:nth-child(4n) {
				padding-right: 0;
			}
		}
	}

	table {
		white-space: nowrap;
		border: 0;
		border-collapse: collapse;

		th {
			font-weight: 400;
			padding: 0 10px 0 0;
			border: 0;
		}

		td {
			padding: 0;
			border: 0;
		}
	}

	b {
		font-weight: 700;
	}

	a[href^="tel:"],
	a[href^="mailto:"] {
		&, &:link, &:visited {
			color: $text-color;
			text-decoration: underline;
		}

		&:hover {
			color: $text-color;
			text-decoration: none;
		}
	}
}