.dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	> a {
		display: table;

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: -1px 0 0 8px;
			@include sprite($sprite-dropdown-caret);
		}
	}
}

.dropdown-menu {
	list-style: none;
	position: absolute;
	z-index: $zindex-dropdown;
	top: 100%;
	left: 0;
	min-width: 100%;
	max-height: 0;
	margin: 15px 0 0;
	padding: 0;
	border: 0px solid #e4e4e4;
	border-radius: 0 0 2px 2px;
	background: #fff;
	line-height: $line-height-base;
	white-space: nowrap;
	box-shadow: 3px 3px 12px rgba(0, 0, 0, .1);
	overflow: hidden;
	opacity: 0;
	transition:
		opacity 100ms linear,
		margin-top 100ms linear,
		max-height 0s 100ms linear,
		padding 0s 100ms linear,
		border-width 0s 100ms linear;

	@at-root .dropdown.open & {
		padding: 3px 0;
		max-height: 10000px;
		border-width: 1px;
		opacity: 1;
		margin-top: 5px;

		transition:
			opacity 100ms linear,
			margin-top 100ms linear,
			max-height 0s 100ms linear;
	}

	> li {
		display: block;
		margin: 0;
		padding: 0;

		> a {
			display: block;
			padding: 6px 12px;
			background: rgba(240, 240, 240, 0);
			transition: background-color 100ms linear;

			&, &:link, &:visited, &:hover {
				text-decoration: none;
				color: $text-color;
			}

			&:hover {
				background: #f0f0f0;
			}
		}

		&.active > a {
			font-weight: 700;
		}

		&:last-child > a {
			border-radius: 0 0 2px 2px;
		}
	}
}