.event-card {
	max-width: 270px;
	text-align: center;
	font-family: $font-family-serif;
	line-height: (20 / 15);

	.thumbnail {
		display: block;
		margin: 0 0 15px;
		font-size: 0;
		line-height: 1;

		> img {
			display: block;
			width: 100%;
			border: 0;
		}
	}

	.title {
		font-weight: 700;
		font-size: 15px;
		
		&, &:link, &:visited {
			text-decoration: underline;
			color: $text-color;
		}

		&:hover {
			text-decoration: none;
			color: $text-color;
		}
	}

	.date {
		margin-top: 5px;
		font-size: 13px;
		font-style: italic;
		color: #a0a0a0;
	}
}