body > footer {
	$bp-2-cols: 700px;
	$bp-4-cols: 1024px;
	$bp-bottom: 760px;
	$font-size: 13px;

	position: relative;
	z-index: 2;
	padding: 0 $container-margin;
	border-bottom: 3px solid #851012;
	background: #fff;
	font-size: $font-size;
	line-height: (20 / 13);

	.top {
		max-width: $max-container-width;
		padding: 44px 0 40px;
		margin: 0 auto;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		@media (min-width: $bp-4-cols) {
			padding: 40px 0 48px;

			display: flex;
			justify-content: space-between;
			align-items: stretch;
		}
	}

	.bottom {
		display: table;
		margin: 0 auto;
		padding: 15px 0 25px;
		border-top: 1px solid #e4e4e4;

		@media (min-width: $bp-bottom) {
			display: block;
			max-width: $max-container-width;
			padding: 34px 0 32px;

			display: flex;
			justify-content: space-between;
			align-items: stretch;
		}
	}

	.logo-col {
		margin: 0 0 32px;

		@media (min-width: $bp-2-cols) {
			float: right;
			width: 50%;
			padding-right: 10%;
		}

		@media (min-width: $bp-4-cols) {
			float: none;
			width: auto;
			order: 2;
			padding-top: 5px;
			padding-right: 0;
			margin: 0;
		}

		// scheme button
		.button.has-structure-icon {
			display: none;

			@media (min-width: $bp-4-cols) {
				display: inline-block;
			}
		}

		// subscription button (a copy for mobile layout)
		.button:not(.has-structure-icon) {
			display: table;
			margin: 0 auto;

			@media (min-width: $bp-4-cols) {
				display: none;
			}
		}
	}

	.contacts-col {
		margin: 0 0 8px 10px;

		@media (min-width: 400px) {
			display: table;
			min-width: 270px;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: $bp-2-cols) {
			display: block;
			min-width: 0;
			margin: 0 0 8px;
			padding-left: 10%;
			float: left;
			width: 50%;
		}

		@media (min-width: $bp-4-cols) {
			margin: 0;
			padding-top: 8px;
			padding-left: 0;
			float: none;
			width: auto;
		}
	}

	.schedule-col {
		margin: 0 0 30px 10px;

		@media (min-width: 400px) {
			display: table;
			min-width: 270px;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: $bp-2-cols) {
			display: block;
			min-width: 0;
			margin: 0;
			padding-left: 10%;
			float: left;
			width: 50%;
		}

		@media (min-width: $bp-4-cols) {
			min-width: 0;
			padding-top: 8px;
			padding-left: 0;
			float: none;
			width: auto;
		}
	}

	.social-col {
		@media (min-width: 400px) {
			display: table;
			min-width: 270px;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: $bp-2-cols) {
			display: block;
			min-width: 0;
			margin: 0;
			padding-right: 10%;
			float: right;
			width: 50%;
		}

		@media (min-width: $bp-4-cols) {
			padding-right: 0;
			float: none;
			width: auto;
		}

		// subscription button (desktop variant)
		.button {
			display: none;

			@media (min-width: $bp-4-cols) {
				display: inline-block;
			}
		}
	}

	.address {
		position: relative;
		padding: 0 0 0 22px;
		color: #a0a0a0;

		@media (min-width: $bp-4-cols) {
			margin-bottom: 15px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			display: block;
			@include sprite($sprite-location);
		}

		> a {
			&, &:link, &:visited {
				color: $text-color;
				text-decoration: underline;
			}

			&:hover {
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	.tel {
		position: relative;
		display: table;
		padding-left: 26px;
		margin-bottom: 6px;

		&:last-child {
			margin-bottom: 0;
		}

		&, &:link, &:visited {
			color: #959595;
			text-decoration: none;
		}

		&:hover {
			color: #959595;
			text-decoration: underline;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 3px;
			content: '';
			margin-top: (-$sprite-mobile-height / 2);
			@include sprite($sprite-mobile);
		}
	}

	.email {
		position: relative;
		display: table;
		padding-left: 26px;
		margin-bottom: 6px;

		&:last-child {
			margin-bottom: 0;
		}

		&, &:link, &:visited {
			color: #959595;
			text-decoration: none;
		}

		&:hover {
			color: #959595;
			text-decoration: underline;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			content: '';
			margin-top: -7px;
			@include sprite($sprite-paper-airplane-13);
		}
	}

	.schedule {
		position: relative;
		padding: 0 0 0 25px;
		color: #a0a0a0;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			display: block;
			@include sprite($sprite-clock);
		}
	}

	.copyright {
		color: #a0a0a0;
		margin-top: 20px;
		padding-left: 25px;
	}

	.social {
		padding-left: 25px;

		@media (min-width: $bp-2-cols) {
			display: table;
			padding: 0;
			margin: 0 auto;
		}

		@media (min-width: $bp-4-cols) {
			font-size: 0;
			margin-bottom: 35px;
			padding: 0;
			white-space: nowrap;
		}
	}

	.social-label {
		display: block;
		color: #a0a0a0;
		margin-bottom: 8px;

		@media (min-width: $bp-4-cols) {
			display: inline-block;
			vertical-align: middle;
			font-size: $font-size;
			margin: 0 14px 0 0;
		}
	}

	.social-buttons {
		display: inline-block;
		vertical-align: middle;
	}

	.button {
		padding-left: 35px;
		padding-right: 35px;
	}

	.button.has-structure-icon {
		padding-right: 32px;
		padding-left: 75px;

		&:before, &:after {
			left: 34px;
		}
	}

	.logo {
		display: table;
		margin: 0 auto 32px;
		@include sprite($sprite-footer-logo);

		@media (min-width: $bp-4-cols) {
			margin: 0 auto 25px;
		}
	}

	.mobile-apps {
		font-size: 0;
		margin-bottom: 30px;

		@media (min-width: $bp-bottom) {
			margin: 0;
		}

		.title {
			display: block;
			margin-bottom: 10px;
			font-size: 13px;
			color: #a0a0a0;

			@media (min-width: $bp-bottom) {
				display: inline-block;
				vertical-align: middle;
				margin: 0 30px 0 0;
			}
		}

		.google-play {
			display: inline-block;
			margin-right: 8px;
			vertical-align: middle;
			@include sprite($sprite-google-play);

			&:last-child {
				margin-right: 0;
			}
		}

		.app-store {
			display: inline-block;
			margin-right: 8px;
			vertical-align: middle;
			@include sprite($sprite-appstore);

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.developer {
		display: block;
		text-align: right;
		
		&, &:link, &:visited, &:hover {
			color: #a0a0a0;
			text-decoration: none;
		}

		&:before {
			content: '';
			display: table;
			margin: 0 0 5px auto;
			@include sprite($sprite-webolution);
		}
	}

	.schedule-inner,
	.contacts-inner {
		@media (min-width: $bp-2-cols) {
			max-width: 270px;
			margin: 0 auto;
		}
		@media (min-width: $bp-4-cols) {
			max-width: none;
			margin: 0;
		}
	}
}