.form-control {
	$font-size: 13px;
	$height: map-get($control-height, base);
	$v-padding: control-v-padding($height, $font-size, $line-height-base, 1px);

	display: block;
	width: 100%;
	padding: $v-padding 10px;
	border: 1px solid #e5e5e5;
	font-family: $font-family-sans-serif;
	line-height: $line-height-base;
	background: #fff;
	resize: none;
	color: $text-color;
	outline: none !important;

	&::placeholder {
		color: $text-color;
		transition: color 100ms linear;
	}

	&:focus::placeholder {
		color: transparent;
	}

	&.small {
		$font-size: 13px;
		$height: map-get($control-height, small);
		$v-padding: control-v-padding($height, $font-size, $line-height-base, 1px);

		height: $height;
		padding: $v-padding 8px;
		font-size: $font-size;

		@at-root select#{&} {
			padding-right: 0;
		}
	}
}