.head-features {
	$bp: 600px;

	list-style: none;
	margin: 25px 0;
	padding: 0 15px;
	border: 1px solid #e4e4e4;
	border-radius: 6px; 
	font-size: 15px;
	line-height: (20 / 15);
	color: $text-color;

	&.compound {
		border-bottom: 0;
		margin-bottom: 0;
		border-radius: 6px 6px 0 0;
	}

	@media (min-width: $bp) {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 25px 0;
	}

	> li {
		display: block;
		margin: 0;
		padding: 30px 7px 25px;
		text-align: center;

		@media (min-width: $bp) {
			position: relative;
			width: 20%;
			padding: 74px 7px 0;
		}

		+ li {
			border-top: 1px solid #e4e4e4;

			@media (min-width: $bp) {
				border-top: 0;
				border-left: 1px solid #e4e4e4;
			}
		}

		&:before {
			content: '';
			display: block;
			margin: 0 auto 10px;

			@media (min-width: $bp) {
				margin: 0;
				position: absolute;
				left: 50%;
			}
		}

		&.feature-shop:before {
			@include sprite($sprite-feature-shop);
			
			@media (min-width: $bp) {
				top: (64px - $sprite-feature-shop-height);
				margin-left: (-$sprite-feature-shop-width / 2);
			}
		}

		&.feature-toy:before {
			@include sprite($sprite-feature-toy);

			@media (min-width: $bp) {
				top: (64px - $sprite-feature-toy-height);
				margin-left: (-$sprite-feature-toy-width / 2);
			}
		}

		&.feature-parking:before {
			@include sprite($sprite-feature-parking);
			
			@media (min-width: $bp) {
				top: (64px - $sprite-feature-parking-height);
				margin-left: (-$sprite-feature-parking-width / 2);
			}
		}

		&.feature-cinema:before {
			@include sprite($sprite-feature-cinema);
			
			@media (min-width: $bp) {
				top: (64px - $sprite-feature-cinema-height);
				margin-left: (-$sprite-feature-cinema-width / 2);
			}
		}

		&.feature-food:before {
			@include sprite($sprite-feature-food);
			
			@media (min-width: $bp) {
				top: (64px - $sprite-feature-food-height);
				margin-left: (-$sprite-feature-food-width / 2);
			}
		}
	}
}