$header-hamburger-bp: 800px !default;
$header-row-bp: 1170px !default;

body > header {
	$font-size: 13px;

	position: relative;
	z-index: $zindex-navbar;
	padding: 0 $container-margin;
	font-size: $font-size;
	line-height: (20px / $font-size);
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

	@media (min-width: $header-hamburger-bp) {
		border-bottom: 1px solid #e4e4e4;
		box-shadow: none;
	}

	.container {
		position: relative;
		margin: 0 auto;
		max-width: $max-container-width;
		padding: 30px 0;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width: $header-hamburger-bp) {
			display: block;
			padding: 28px 0 34px;
		}
	}

	.left {
		display: none;

		@media (min-width: $header-hamburger-bp) {
			display: block;
			position: absolute;
			top: 0;
			right: 50%;
			bottom: 0;
			left: 0;
			margin-right: (185px / 1170px * 100%);
			text-align: center;
			font-size: 0;
		}
	}

	.left-inner {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		text-align: left;

		height: 100%;
		margin: 0 auto;
		font-size: $font-size;

		@media (min-width: $header-row-bp) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			width: 100%;
		}
	}

	.right {
		display: none;
		
		@media (min-width: $header-hamburger-bp) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 50%;
			margin-left: (163px / 1170px * 100%);
		}

		@media (min-width: $header-row-bp) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.logo {
		display: block;
		@include sprite($sprite-logo);

		@media (min-width: $header-hamburger-bp) {
			margin: 0 auto;
		}
	}

	.address {
		position: relative;
		padding: 0 0 0 20px;
		color: #a0a0a0;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			display: block;
			@include sprite($sprite-location);
		}

		> a {
			&, &:link, &:visited {
				color: $text-color;
				text-decoration: underline;
			}

			&:hover {
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	.schedule {
		position: relative;
		padding: 0 0 0 25px;
		color: #a0a0a0;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			display: block;
			@include sprite($sprite-clock);
		}
	}

	.scheme-button {
		display: block;
		height: 38px;
		line-height: 36px;
		border: 1px solid #e4e4e4;
		border-radius: 19px;
		padding: 0 26px 0 23px;
		font-size: 12px;
		text-transform: uppercase;
		transition: background-color 150ms linear;
		white-space: nowrap;

		&, &:link, &:visited, &:hover {
			color: $text-color;
			text-decoration: none;
		}

		&:hover {
			background-color: #e4e4e4;
		}

		.icon-structure {
			margin: -5px 14px 0 0;
		}
	}

	.hamburger {
		cursor: pointer;

		@media (min-width: $header-hamburger-bp) {
			display: none;
		}

		&:before, &:after {
			content: '';
			transition: transform 200ms linear;
		}

		&:before {
			margin-bottom: 3px;
		}

		&:after {
			margin-top: 3px;
		}
	}

	.hamburger:before,
	.hamburger:after,
	.hamburger-inner {
		display: block;
		width: 25px;
		height: 3px;
		background: $text-color;
	}

	.hamburger-inner {
		opacity: 1;
		transition: opacity 200ms linear;
	}

	.hamburger.open {
		.hamburger-inner {
			opacity: 0;
		}

		&:before {
			transform: translateY(6px) rotate(45deg);
		}

		&:after {
			transform: translateY(-6px) rotate(-45deg);
		}
	}
}