.head-swiper {
	$bp: map-get($breakpoints, small);

	margin: 30px 0 25px;
	//height: 300px;

	@media (min-width: $bp) {
		margin: 44px 0 25px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 42px;
		height: 42px;
		background: #fff;
		text-align: center;
		line-height: 42px;
		transition: width 100ms linear;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
		}

		&:hover {
			width: 50px;
		}
	}

	.swiper-button-prev {
		left: 0;
		border-radius: 0 2px 2px 0;

		&:before { @include sprite($sprite-head-swiper-prev); }
	}

	.swiper-button-next {
		right: 0;
		border-radius: 0 0 2px 2px;

		&:before { @include sprite($sprite-head-swiper-next); }
	}

	.swiper-pagination-bullet {
		margin: 0 2.5px;
		width: 8px;
		height: 8px;
		opacity: 1;
		background: #fff;
		transition: background-color 100ms linear;
	}

	.swiper-pagination-bullet-active {
		background: #ee343d;
	}

	.swiper-slide {
		height: 435px;

		> picture {
			width: 100%;
			height: 100%;
		}

		> img,
		> picture > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
}