.mobile-nav {
	position: absolute;
	z-index: ($zindex-navbar + 1);
	left: 0;
	right: 0;
	max-height: 0;
	overflow: hidden;
	transform-origin: 0 0;
	transform: scale(1, 0);
	transition: transform 150ms ease-out, max-height 0s 150ms linear;

	@media (min-width: $header-hamburger-bp) {
		display: none;
	}

	&.open {
		overflow: visible;
		max-height: 1000px;
		transform: scale(1, 1);
		transition: transform 200ms ease-in;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 0;
		box-shadow: 0 0 12px rgba(0,0,0,0.12);
		z-index: -1;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		background: #fff;
		box-shadow: 3px 3px 7px rgba(0, 0, 0, .12);

		> li {
			display: block;
			margin: 0;
			padding: 0;

			> a {
				display: block;
				padding: 0px $container-margin;
				line-height: 40px;
				border-bottom: 1px solid #e4e4e4;
				white-space: nowrap;
				transition: color 100ms linear;
				
				&, &:link, &:visited {
					text-decoration: none;
					color: $text-color;
				}

				&:hover {
					text-decoration: none;
				}
			}

			&.has-children > a:before {
				content: '+';
				display: inline;
				margin-right: 5px;
			}

			&.has-children > ul > li:not(.has-children) > a:before {
				content: '-';
				display: inline;
				margin-right: 5px;
			}

			&:hover > a,
			&.current > a,
			&.current-parent > a,
			&.current-ancestor > a {
				color: #ef373c;
				transition: color 100ms linear;
			}
		} // li

		ul {
			box-shadow: none;

			> li > a { padding-left: ($container-margin * 2); }
			> li > ul > li > a { padding-left: ($container-margin * 3); }
		}
	} // ul

	> ul {
		padding-bottom: 20px;

		> li:last-child > a { border-bottom: 0; }
	}
}