.news-grid {
	$gutter-x: 30px;
	$gutter-y: 30px;

	list-style: none;
	margin: (-$gutter-y) 0 0 (-$gutter-x);
	padding: 0;
	font-size: 0;
	line-height: 1;

	> li {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin: $gutter-y 0 0 0;
		padding: 0 0 0 $gutter-x;
		font-size: $font-size-base;
		line-height: $line-height-base;
	}

	.news-card {
		max-width: none;
	}

	$first-breakpoint: nth(map-keys($grid-breakpoints), 1);
	@each $breakpoint, $width in $grid-breakpoints {
		@if $breakpoint != $first-breakpoint {
			@media (min-width: $width) {
				@for $column from 1 through $grid-columns {
					&.#{$breakpoint}-#{$column} > li {
						width: (100% * $column / $grid-columns - $grid-epsilon);
					}
				}
			}
		}
	}
}