.news-card {
	max-width: 270px;
	font-size: 13px;
	line-height: (22 / 13);

	.title {
		font-size: 15px;
		font-weight: 700;

		&, &:link, &:visited {
			color: $text-color;
			text-decoration: underline;
		}

		&:hover {
			color: $text-color;
			text-decoration: none;
		}
	}

	.teaser {
		margin: 5px 0 0;
		color: $text-color;
	}

	.date {
		margin-top: 1px;
		font-style: italic;
		color: #a0a0a0;
	}
}