.plan {
	$bp: map-get($breakpoints, medium);
	$floors: 5;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	border: 1px solid #e4e4e4;

	@media (min-width: $bp) {
		display: block;
	}

	&:before, &:after {
		content: '';
		display: table;
		clear: both;
	}

	.sidebar {
		order: 2;
		padding: 0 15px 20px;

		@media (min-width: $bp) {
			padding: 0;
			float: right;
			width: 370px;
			margin: 45px 15px 45px 0;
		}
	}

	.floor-dropdown > a {
		font-weight: 700;
		font-size: 0;
		line-height: 1;

		&, &:link, &:visited, &:hover {
			color: $text-color;
			text-decoration: none;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: -3px 8px 0 0;
			@include sprite($sprite-stack-24);
		}

		> span {
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;
			padding-bottom: 3px;
			
			&:after {
				content: '';
				display: block;
				height: 1px;
				background: url($base64-floor-dropdown) repeat-x;
			}
		}
	}

	.legend {
		list-style: none;
		margin: 40px 0 0;
		padding: 0;

		@media (min-width: $bp) {
			margin-top: 55px;
		}

		> li {
			position: relative;
			display: block;
			margin: 0 0 5px;
			padding: 0;
			line-height: 40px;
			font-size: 0;

			&:last-child { margin-bottom: 0; }

			> a {
				display: inline-block;
				vertical-align: middle;
				padding-left: 60px;
				font-size: 15px;
				font-weight: 700;
				line-height: $line-height-base;

				&, &:link, &:visited {
					color: $text-color;
					text-decoration: none;
				}

				&:hover {
					color: $text-color;
					text-decoration: underline;
				}

				> svg {
					position: absolute;
					top: 50%;
					left: 0;
					display: block;
					width: 40px;
					height: 40px;
					margin-top: -20px;
				}
			}
		}
	}

	@for $floor from 1 through $floors {
		.legend-#{$floor} {
			display: none;
			
			@at-root .floor-#{$floor}#{&} { display: block; }
		}
	}

	.stage {
		order: 1;
		margin: 20px 15px 40px;

		@media (min-width: $bp) {
			margin: 25px 430px 35px 30px;
		}
	}
}