.primary-nav {
	display: none;
	padding: 0 $container-margin;
	background: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, .12);
	font-size: 14px;

	@media (min-width: $header-hamburger-bp) {
		display: block;
	}

	> ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		max-width: $max-container-width;

		display: flex;
		justify-content: space-around;

		@media (min-width: 1170px) {
			padding: 0 20px;
		}

		> li {
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			height: 53px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 2px;
				background: #e5493a;
				opacity: 0;
				transform: scale(0, 1);
				transition: transform 150ms linear, opacity 0s 150ms linear;
			}

			&:hover:after,
			&.open:after,
			&.current:after,
			&.current-parent:after,
			&.current-ancestor:after {
				opacity: 1;
				transform: scale(1, 1);
				transition: transform 100ms ease-out;
			}

			> a {
				display: block;
				padding: 0 25px;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 51px;
				white-space: nowrap;
				transition: color 150ms linear;

				&, &:link, &:visited, &:hover {
					color: $text-color;
					text-decoration: none;
				}
			}

			&.has-children > a {
				padding-right: 31px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: 18px;
					margin-top: -3px;
					border-top: 4px solid $text-color;
					border-left: 3.5px solid transparent;
					border-right: 3.5px solid transparent;
					border-bottom: 0;
				}
			}

			&.open > a,
			&.current > a,
			&.current-parent > a,
			&.current-ancestor > a,
			> a:hover {
				color: #ef373c;
				transition: color 100ms linear;

				&:after {
					border-top-color: #ef373c;
				}
			}

			> ul {
				list-style: none;
				margin: 10px 0 0;
				padding: 0;
				position: absolute;
				z-index: ($zindex-navbar-fixed + 1);
				top: 100%;
				left: 0;
				min-width: 100%;
				background: #fff;
				box-shadow: 3px 3px 7px rgba(0, 0, 0, .12);
				max-height: 0;
				overflow: hidden;
				opacity: 0;
				transition:
					opacity 100ms linear,
					margin-top 100ms linear,
					max-height 0s 100ms linear;

				> li {
					display: block;
					margin: 0;
					padding: 0;

					> a {
						display: block;
						padding: 0px 25px;
						line-height: 40px;
						white-space: nowrap;
						transition: color 100ms linear;
						
						&, &:link, &:visited {
							text-decoration: none;
							color: $text-color;
						}

						&:hover {
							text-decoration: none;
						}

						&:before {
							content: '>';
							display: block;
							float: left;
							margin-right: 0;
							width: 15px;
							margin-left: -15px;
							opacity: 0;
							transition:
								opacity 100ms linear,
								margin-left 100ms linear;
						}
					}

					&:hover > a,
					&.current > a,
					&.current-parent > a,
					&.current-ancestor > a {
						color: #ef373c;
						transition: color 100ms linear;

						&:before {
							margin-left: 0;
							opacity: 1;
							transition:
								opacity 100ms cubic-bezier(.52,.24,.41,1.01),
								margin-left 100ms cubic-bezier(.52,.24,.41,1.01);
						}
					}

					&:after {
						content: '';
						margin: 0 7px;
						display: block;
						height: 1px;
						background: #e4e4e4;
					}
				} // 2nd li
			} // 2nd ul

			&:hover > ul,
			&.open > ul {
				margin-top: 0;
				max-height: 10000px;
				opacity: 1;
				transition: opacity 100ms linear, margin-top 100ms linear;
			}
		} // 1st li
	} // 1st ul
}