.promo-grid {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 0;
	overflow: hidden;

	> li {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		margin: 0;
		padding: 0;

		> a {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			font-size: 0;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				border: 3px solid #dcdcdc;
				opacity: 0;
				transition: opacity 200ms linear;
			}

			&:hover:after {
				opacity: 1;
				transition: opacity 70ms linear;
			}

			> img {
				display: block;
				width: 100%;
				height: 100%;
				border: 0;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}
	}
}