.section-heading {
	position: relative;
	display: table;
	margin: 0 0 20px;
	padding: 0 0 0 25px;
	font-size: 24px;
	line-height: (40 / 24);
	text-transform: uppercase;
	color: $text-color;
	font-family: 'Museo Sans Cyrl';
	font-weight: 700;

	&:before {
		content: '';
		position: absolute;
		top: 11px;
		left: 0;
		display: block;
		@include sprite($sprite-section-heading);
	}

	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
		margin-top: -5px;
		width: 60px;
		height: 2px;
		background: #ef373c;
	}
}

.section-footer {
	$bp: map-get($breakpoints, small);

	margin: 0 (-$container-margin);
	background: url($base64-section-footer) repeat-x 0 50%;
	text-align: center;

	@media (min-width: $bp) {
		margin-left: auto;
		margin-right: auto;
		max-width: $max-container-width;
	}

	.inner {
		position: relative;
		display: inline-block;
		padding: 0 20px;
		background: $body-bg;

		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			width: 6px;
			height: 6px;
			margin-top: -3px;
			border-radius: 3px;
			background: #e4e4e4;
		}

		&:before { left: 5px; }
		&:after { right: 5px; }
	}

	.button {
		padding-left: 35px;
		padding-right: 35px;
	}
}

.section {
	margin: 50px 0;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}

	@at-root .breadcrumbs + & {
		margin-top: 30px;
	}
}

.section-events {
	.event-grid { margin-bottom: 20px; }

	.section-footer .button {
		padding-left: 43px;
		padding-right: 43px;
	}
}

.section-promo {
	.promo-grid { margin-bottom: 40px; }
}

.section-shops {
	@media (min-width: map-get($breakpoints, small)) {
		&:last-child{ margin-bottom: 10px; }
	}

	.shops-swiper {
		margin: 40px 0 50px;

		@media (min-width: map-get($breakpoints, small)) {
			margin: 50px 0 70px;
		}
	}
}

.section-news {
	@media (min-width: map-get($breakpoints, small)) {
		&:last-child{ margin-bottom: 10px; }
	}

	.news-grid { margin-bottom: 50px; }
}

.section-brands {
	@media (min-width: map-get($breakpoints, small)) {
		&:last-child{ margin-bottom: 10px; }
	}

	.section-heading {
		margin-bottom: 45px;
	}
}

.section-categories {
	@media (min-width: map-get($breakpoints, small)) {
		&:last-child{ margin-bottom: 20px; }
	}
}

.section-cinema {
	.article-content {
		font-size: 13px; // to be sure
	}
	> .button {
		display: table;
		padding-left: 58px;
		padding-right: 58px;
		margin-bottom: 30px;

		@media (min-width: map-get($breakpoints, small)) {
			margin-bottom: 35px;
		}
	}
}

.section-contacts {
	.contacts-map {
		margin-bottom: 25px;
		height: 475px;
		background: #eee;
	}
	.content-row {
		@include grid-row-gutter(20px, 50px);

		> .column {
			@include grid-column-gutter(20px, 50px);
		}
	}
	.article-content {
		padding-top: 15px;

		@media (min-width: map-get($breakpoints, medium)) {
			padding-top: 27px;
		}
	}
}

.section-to-renters {
	.section-heading { margin-bottom: 10px; }
	.content-row {
		@include grid-row-gutter(20px, 50px);

		> .column {
			@include grid-column-gutter(20px, 50px);
		}
	}
	.content-column {
		padding-top: 10px;

		@media (min-width: map-get($breakpoints, small)) {
			padding-top: 17px;
		}
	}
}

.section-about {
	.head-swiper {
		margin: 0 0 20px;

		@media (min-width: 600px) {
			margin-bottom: 25px;
		}

		.swiper-slide { height: 470px; }
	}

	.head-features { margin-top: 0; }
	.stat-features { margin-bottom: 60px; }

	.plan-title {
		margin: 0 0 25px;
		line-height: 1;
		font-size: 15px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		color: $text-color;
	}
}