.shops-swiper {
	position: relative;

	.swiper-container {
		margin: 0 70px;
	}

	.swiper-wrapper {
		align-items: center;
	}

	.swiper-button-prev,
	.swiper-button-next {
		background: transparent;
		width: 42px;
		height: 42px;
		text-align: center;
		line-height: 42px;
		transition: padding-left 100ms linear, padding-right 100ms linear;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
		}
	}

	.swiper-button-prev {
		left: 0;

		&:hover { padding-right: 7px; }
		&:before { @include sprite($sprite-head-swiper-prev); }
	}

	.swiper-button-next {
		right: 0;

		//&:hover { animation: shops-swiper-next infinite 600ms; }
		&:hover { padding-left: 7px; }
		&:before { @include sprite($sprite-head-swiper-next); }
	}

	.swiper-slide {
		text-align: center;
		font-size: 0;
		height: 100%;

		> img {
			display: inline-block;
			max-width: 100%;
			border: 0;
		}
	}
}