.shop {
	$bp: map-get($breakpoints, large);
	$gutter-x: 30px;
	$gutter-y: 30px;
	$logo-column-width: ((270px + $gutter-x) / ($max-container-width + $gutter-x));
	$photo-column-width: ((360px + $gutter-x) / ($max-container-width + $gutter-x));
	$main-column-width: (1 - $logo-column-width - $photo-column-width);
	
	@include grid-row();
	@include grid-row-gutter($gutter-x, $gutter-y);

	.logo-column, .main-column, .photo-column {
		@include grid-column();
		@include grid-column-width(1);
		@include grid-column-gutter($gutter-x, $gutter-y);
	}
	
	.logo-column {
		padding-bottom: 20px;

		@media (min-width: $bp) {
			padding-bottom: 0;
			@include grid-column-width($logo-column-width);
		}
	}

	.main-column {
		@media (min-width: $bp) {
			@include grid-column-width($main-column-width);
		}
	}

	.photo-column {
		text-align: center;
		line-height: 1;
		font-size: 0;

		@media (min-width: $bp) {
			@include grid-column-width($photo-column-width);
		}

		> img {
			max-width: 100%;
			margin: 0;
			border: 0;
		}
	}

	.logo {
		margin: 0 0 30px;
		padding: 35px 15px;
		background: $body-bg;
		font-size: 0;
		text-align: center;
		box-shadow: 3px 4px 16px rgba(0, 0, 0, .1);

		> img {
			border: 0;
			max-width: 100%;
		}
	}

	.info-rows {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1;

		> li {
			display: block;
			margin: 0 0 15px;
			padding: 0;

			&:last-child { margin-bottom: 0; }

			> a {
				&, &:link, &:visited {
					color: $text-color;
					text-decoration: underline;
				}

				&:hover {
					color: $text-color;
					text-decoration: none;
				}

				&[href^="tel:"] {
					&, &:link, &:visited { text-decoration: none; }
					&:hover { text-decoration: underline; }
				}
			}
		}

		[class^="icon-"] {
			width: 16px;
			margin-right: 10px;
			text-align: center;
			vertical-align: middle;
			font-size: 0;
			line-height: 1;

			&:before { display: inline-block; }
		}
	}

	.plan-link {
		display: table;
		margin-bottom: 18px;
		font-weight: 700;
		font-size: 15px;
		line-height: 1;

		&, &:link, &:visited {
			color: $text-color;
			text-decoration: none;
		}

		&:hover {
			color: $text-color;
			text-decoration: underline;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: 9px;
			@include sprite($sprite-stack-24);
		}
	}
}