.single-swiper {
	$bp: map-get($breakpoints, small);

	margin: 0 0 35px;

	@media (min-width: $bp) {
		margin: 0 0 45px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
		width: 42px;
		height: 42px;
		background: #fff;
		text-align: center;
		line-height: 42px;
		transition: width 100ms linear;

		@media (min-width: $bp) {
			display: block;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
		}

		&:hover {
			width: 50px;
		}
	}

	.swiper-button-prev {
		left: 0;
		border-radius: 0 2px 2px 0;

		&:before { @include sprite($sprite-head-swiper-prev); }
	}

	.swiper-button-next {
		right: 0;
		border-radius: 0 0 2px 2px;

		&:before { @include sprite($sprite-head-swiper-next); }
	}

	.swiper-slide {
		font-size: 0;
		
		> picture {
			width: 100%;
			height: 100%;
		}

		> img,
		> picture > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
}