.social-buttons {
	line-height: 1;
	font-size: 0;
	white-space: nowrap;

	> a {
		display: inline-block;
		width: 32px;
		height: 32px;
		border: 1px solid #e5e5e5;
		border-radius: 50%;
		font-size: 16px;
		line-height: 30px;
		background-color: rgba(239, 55, 60, 0);
		transition: border-color 150ms linear, color 150ms linear, background-color 150ms linear;
		text-align: center;
		
		&, &:link, &:visited {
			color: $text-color;
			text-decoration: none;
		}

		&:hover {
			background-color: rgba(239, 55, 60, 1);
			border-color: #ef373c;
			color: #fff;
			text-decoration: none;
		}

		+ a {
			margin-left: 6px;
		}

		[class^="fonticon"] {
			vertical-align: baseline;
		}
	}
}