.stat-features {
	$bp: 600px;

	list-style: none;
	margin: 25px 0;
	padding: 0 15px;
	border: 1px solid #e4e4e4;
	border-radius: 6px; 
	font-size: 15px;
	line-height: (20 / 15);
	color: $text-color;

	&.compound {
		position: relative;
		border-top: 0;
		margin-top: 0;
		border-radius: 0 0 6px 6px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 15px;
			right: 15px;
			display: block;
			height: 1px;
			background: #e4e4e4;

			@media (min-width: $bp) {
				left: 28px;
				right: 28px;
			}
		}
	}

	@media (min-width: $bp) {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 25px 0;
	}

	> li {
		display: block;
		margin: 0;
		padding: 43px 7px 44px;
		text-align: center;

		@media (min-width: $bp) {
			position: relative;
			width: 20%;
			padding: 3px 7px 6px;
		}

		+ li {
			border-top: 1px solid #e4e4e4;

			@media (min-width: $bp) {
				border-top: 0;
				border-left: 1px solid #e4e4e4;
			}
		}
	}

	.value {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 36px;
		color: #ee343d;
		line-height: 1.11111; // 40px
		margin-bottom: 5px;

		@media (min-width: 600px) {
			font-size: 19px;
			font-size: 3.1vw;
		}

		@media (min-width: 960px) {
			font-size: 36px;
		}
	}

	.unit {
		margin-left: 5px;
		font-size: 18px;
		color: #851012;
	}
}