.tab-panes {
	$bp: map-get($breakpoints, small);

	padding: 20px 10px 25px;
	border: 1px solid #e4e4e4;
	border-top: 0;

	@media (min-width: $bp) {
		padding: 20px 20px 45px;
	}
}

.tab-pane {
	display: none;

	&:before, &:after {
		content: '';
		display: table;
		clear: both;
	}

	&.active {
		display: block;
	}
}