.tabs {
	$bp: map-get($breakpoints, small);

	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: #e7e7e7;
	}

	> ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		> li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			font-weight: 700;
			text-transform: uppercase;

			> a {
				position: relative;
				display: block;
				padding: 0 35px 0 15px;
				border: 1px solid transparent;
				border-bottom: 0;
				font-family: $font-family-sans-serif;
				font-size: 12px;
				font-weight: 700;
				line-height: 43px;
				text-align: center;
				transition: color 100ms linear;

				@media (min-width: $bp) {
					padding: 0 40px 0 20px;
					font-size: 15px;
				}

				&, &:link, &:visited, &:hover {
					color: #a0a0a0;
					text-decoration: none;
				}

				&:before {
					content: '';
					position: absolute;
					top: -1px;
					right: -1px;
					display: none;
					@include sprite($sprite-tabs);
					background-color: $body-bg;
				}
			} // a

			&.active > a {
				border-color: #e4e4e4;
				background: #fff;

				&:before {
					display: block;
				}
			}

			&:hover > a,
			&.active > a {
				&, &:link, &:visited, &:hover {
					color: $text-color;
				}
			}
		} // li
	} // ul
}