.top-nav {
	position: relative;
	padding: 0 $container-margin;
	border-top: 3px solid #860f11;
	background-color: #f9f9f9;
	font-size: 13px;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		display: block;
		height: 1px;
		box-shadow: 0 0 12px rgba(0, 0, 0, .12);
	}

	.container {
		max-width: $max-container-width;
		display: none;
		justify-content: space-between;
		margin: 0 auto;
		height: 44px;
		overflow: hidden;
		align-items: center;

		@media (min-width: $header-hamburger-bp) {
			display: flex;
		}
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			position: relative;
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			line-height: 14px;

			+ li {
				margin-left: 40px;
			}

			&:before {
				content: '';
				position: absolute;
				right: -21px;
				top: 0px;
				display: block;
				width: 1px;
				height: 14px;
				background: #e5e5e5;
			}

			&:last-child:before {
				content: none;
			}

			> a {
				&, &:link, &:visited {
					color: $text-color;
					text-decoration: none;
				}

				&:hover {
					color: $text-color;
					text-decoration: underline;
				}
			}
		}
	}

	.links {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1;
		font-size: 0;
		white-space: nowrap;

		> li {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
			font-size: 13px;

			+ li {
				margin-left: 40px;
			}

			> a {
				&, &:link, &:visited {
					color: $text-color;
					text-decoration: none;
				}

				&:hover {
					color: $text-color;
					text-decoration: underline;
				}

				> [class^="icon-"] {
					margin-right: 12px;
				}
			}
		}
	}
}