<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>О ТРК MARI</li>
			</ol>

			<section class="section section-about">
				<h1 class="section-heading">О ТРК MARI</h1>
				<div class="head-swiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<picture>
								<source
									media="(min-width: 761px)"
									srcset="img/demo/about-1.jpg">
								<img
									srcset="img/demo/about-1-760.jpg"
									alt="Demo slide 1"
									data-object-fit="cover"
									data-object-position="50% 50%">
							</picture>
						</div>
						<div class="swiper-slide">
							<picture>
								<source
									media="(min-width: 761px)"
									srcset="img/demo/about-1.jpg">
								<img
									srcset="img/demo/about-1-760.jpg"
									alt="Demo slide 1"
									data-object-fit="cover"
									data-object-position="50% 50%">
							</picture>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div> <!-- /.head-swiper -->
				<ul class="head-features compound">
					<li class="feature-shop">Более 200 магазинов!</li>
					<li class="feature-toy">Все для детей</li>
					<li class="feature-parking">1700 мест на парковке</li>
					<li class="feature-cinema">Кинотеатр - 8 залов</li>
					<li class="feature-food">Фуд-корт</li>
				</ul>
				<ul class="stat-features compound">
					<li>
						<div class="value">1 135 000<span class="unit">m<sup>2</sup></span></div>
						Общая площадь
					</li>
					<li>
						<div class="value">1 600 000</div>
						Людей поблизости
					</li>
					<li>
						<div class="value">1 648</div>
						Мест на парковке
					</li>
					<li>
						<div class="value">34<span class="unit">m</span></div>
						Просторный атриум
					</li>
					<li>
						<div class="value">3</div>
						Станции метро
					</li>
				</ul>
				<h2 class="plan-title">Схема комплекса:</h2>
				<%- entab(include('partials/plan'), 4) %>
			</section> <!-- /.section-about -->
			
		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>