<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Магазины одежды</li>
			</ol>

			<section class="section section-brands">
				<h1 class="section-heading">Магазины <span class="visible-small-inline">одежды</span></h1>
				<ul class="brands-grid xsmall-6 small-4 medium-3 large-2">
					<li><a href="shop.html"><img src="img/demo/shop-1.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-2.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-3.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-4.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-5.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-6.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-7.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-8.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-9.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-10.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-11.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-12.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-13.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-14.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-15.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-16.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-17.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-18.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-1.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-2.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-3.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-4.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-5.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-6.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-7.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-8.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-9.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-10.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-11.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-12.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-13.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-14.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-15.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-16.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-17.jpg" alt=""></a></li>
					<li><a href="shop.html"><img src="img/demo/shop-18.jpg" alt=""></a></li>
				</ul>
			</section> <!-- /.section-brands -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>