<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Наши магазины</li>
			</ol>

			<section class="section section-categories">
				<h1 class="section-heading"><span class="visible-small-inline">Наши</span> магазины</h1>
				<ul class="category-grid xsmall-6 medium-4 large-3">
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-1.jpg" alt="">
							<div class="title">Одежда</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-2.jpg" alt="">
							<div class="title">Обувь и сумки</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-3.jpg" alt="">
							<div class="title">Нижнее белье, купальники</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-4.jpg" alt="">
							<div class="title">Аксуссуары</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-5.jpg" alt="">
							<div class="title">Продукты питания</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-6.jpg" alt="">
							<div class="title">Красота и здоровье</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-7.jpg" alt="">
							<div class="title">Детские товары</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-8.jpg" alt="">
							<div class="title">Мебель и товары для дома</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-9.jpg" alt="">
							<div class="title">Книги, музыка, хобби</div>
						</a>
					</li>
					<li>
						<a class="category-card" href="brands.html">
							<img src="img/demo/category-10.jpg" alt="">
							<div class="title">Техника и связь</div>
						</a>
					</li>
				</ul>
			</section> <!-- /.section-categories -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>