<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Наш кинотеатр</li>
			</ol>

			<article class="section section-cinema">
				<h1 class="section-heading"><span class="visible-small-inline">Наш</span> кинотеатр</h1>
				<div class="single-swiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<picture>
								<source media="(min-width: 641px)" srcset="img/demo/cinema-1.jpg">
								<img srcset="img/demo/cinema-1-640.jpg" alt="">
							</picture>
						</div>
						<div class="swiper-slide">
							<picture>
								<source media="(min-width: 641px)" srcset="img/demo/cinema-1.jpg">
								<img srcset="img/demo/cinema-1-640.jpg" alt="">
							</picture>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div> <!-- /.single-swiper -->
				<a class="default button" href="#">Купить билет</a>
				<div class="article-content">
					<h2 class="h3">Наш кинотеатр, это:</h2>
					<ul>
						<li>15 ультрасовременных залов, 3723 места;</li>
						<li>Премьерный суперзал IMAX Coca-Cola 319 мест;</li>
						<li>10 залов оборудовано цифровой системой Real D 3D
						(объёмное изображение с использованием специальных очков);</li>
						<li>Во всех залах установлены высококлассные цифровые
						объёмные аудиосистемы Dolby Digital Surround EX;</li>
						<li>2 зала повышенной комфортности DELUXE;</li>
						<li>Все залы оснащены современной системой
						климат-контроля, которая бесперебойно обеспечивает
						комфортное пребывание в кинотеатре в любое время года;</li>
						<li>Места для людей с ограниченными физическими возможностями;</li>
						<li>Дизайн интерьеров выполнен в современном хай-тек
						стиле и аутентичен атмосфере улиц Нью-Йорка;</li>
						<li>Cafe Coca-Cola Red Lounge;</li>
						<li>Кинобар с попкорном и прохладительными напитками;</li>
						<li>Специальная GAME ZONA — десятки игровых аппаратов и симуляторов.</li>
					</ul>
				</div> <!-- /.article-content -->
			</article> <!-- /.section-cinema -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>