<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Контакты</li>
			</ol>

			<article class="section section-contacts">
				<h1 class="section-heading">Контакты</h1>
				<ul class="contacts-grid">
					<li>
						<b>Адрес:</b><br>
						Москва, ул. Поречная, 10
					</li>
					<li>
						<b>Режим работы:</b><br>
						<table>
							<tbody>
								<tr><th>Торговая галерея</th><td>10:00 — 22:00</td></tr>
								<tr><th>Супермаркет</th><td>08:00 — 23:00</td></tr>
								<tr><th>Кинотеатр</th><td>10:00 — 03:00</td></tr>
							</tbody>
						</table>
					</li>
					<li>
						<b>Администрация ТРК MARi:</b><br>
						<a href="tel:+84953333333">8 (495) 333-33-33</a><br>
						<a href="tel:+88003333333">8 (800) 333-333-3</a>
					</li>
					<li>
						<b>E-mail:</b><br>
						<a href="mailto:info@trk-mari.ru">info@trk-mari.ru</a>
					</li>
				</ul> <!-- /.contacts-grid -->
				<div class="contacts-map"></div>
				<div class="content-row row">
					<div class="article-content column medium-7 large-8">
						<h2 class="h3">Как к нам добраться:</h2>
						<p>Более 120 тысяч наименований детсикх товаров
						удовлетворят потребностям самых взыскательных покупателей.</p>
						<p>Магазины сети предлагают своим покупателям полный
						ассортимент товаров для детей в возрасте от 0 до 12 лет,
						включая игрушки, одежду, обувь, школьно-письменные,
						канцелярские, товары для новорожденных, спортивные товары,
						книги, а также товары по уходу за детьми.</p>
						<p>Ассортимент ориентирован на семьи со средним уровнем
						дохода, то есть на тех потребителей, которые заинтересованы
						в приобретении высококачественных товаров по доступным
						ценам.</p>
					</div>
					<div class="column medium-5 large-4">
						<form class="callback-form">
							<h2 class="title">Обратная связь</h2>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="4" placeholder="Текст сообщения"></textarea>
							</div>
							<button class="primary button" type="submit">Отправить сообщение</button>
						</form>
					</div>
				</div> <!-- /.content -->
			</article> <!-- /.section-contacts -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>