<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Кинотеатр</li>
			</ol>

			<section class="section section-events">
				<h1 class="section-heading">Афиша <span class="visible-small-inline">мероприятий</span></h1>
				<ul class="event-grid small-6 large-3">
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-1.jpg" alt="">
							</a>
							<a class="title" href="#">Неделя знаний в MARI</a>
							<div class="date">1 - 7 сентября</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-2.jpg" alt="">
							</a>
							<a class="title" href="#">Улетный Хеллоуин в MARI</a>
							<div class="date">30 - 31 октября</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-3.jpg" alt="">
							</a>
							<a class="title" href="#">Детская Елка и маскарад</a>
							<div class="date">28 - 30 декабря</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-4.jpg" alt="">
							</a>
							<a class="title" href="#">День любимого папы</a>
							<div class="date">20 - 23 февраля</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-5.jpg" alt="">
							</a>
							<a class="title" href="#">Танцы в Марьино</a>
							<div class="date">1 - 7 сентября</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-6.jpg" alt="">
							</a>
							<a class="title" href="#">Открытие нового магазина</a>
							<div class="date">30 - 31 октября</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-7.jpg" alt="">
							</a>
							<a class="title" href="#">Твоя весна в MARI</a>
							<div class="date">28 - 30 декабря</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-8.jpg" alt="">
							</a>
							<a class="title" href="#">Неделя фитнеса в Raketa</a>
							<div class="date">20 - 23 февраля</div>
						</div>
					</li>
				</ul>
				<footer class="section-footer">
					<div class="inner">
						<a class="default button" href="#">Все мероприятия</a>
					</div>
				</footer>
			</section> <!-- /.section-events -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>