<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<div class="head-swiper swiper-container">
				<div class="swiper-wrapper">
					<a class="swiper-slide" href="#">
						<picture>
							<source
								media="(min-width: 761px)"
								srcset="img/demo/head-swiper-1.jpg">
							<img
								srcset="img/demo/head-swiper-1-760.jpg"
								alt="Demo slide 1"
								data-object-fit="cover"
								data-object-position="50% 50%">
						</picture>
					</a>
					<a class="swiper-slide" href="#">
						<picture>
							<source
								media="(min-width: 761px)"
								srcset="img/demo/head-swiper-2.jpg">
							<img
								srcset="img/demo/head-swiper-2-760.jpg"
								alt="Demo slide 2"
								data-object-fit="cover"
								data-object-position="50% 50%">
						</picture>
					</a>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div> <!-- /.head-swiper -->

			<ul class="head-features">
				<li class="feature-shop">Более 200 магазинов!</li>
				<li class="feature-toy">Все для детей</li>
				<li class="feature-parking">1700 мест на парковке</li>
				<li class="feature-cinema">Кинотеатр - 8 залов</li>
				<li class="feature-food">Фуд-корт</li>
			</ul>

			<section class="section section-events">
				<h1 class="section-heading">Мероприятия</h1>
				<ul class="event-grid small-6 large-3">
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-1.jpg" alt="">
							</a>
							<a class="title" href="#">Неделя знаний в MARI</a>
							<div class="date">1 - 7 сентября</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-2.jpg" alt="">
							</a>
							<a class="title" href="#">Улетный Хеллоуин в MARI</a>
							<div class="date">30 - 31 октября</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-3.jpg" alt="">
							</a>
							<a class="title" href="#">Детская Елка и маскарад</a>
							<div class="date">28 - 30 декабря</div>
						</div>
					</li>
					<li>
						<div class="event-card">
							<a class="thumbnail" href="#">
								<img src="img/demo/event-4.jpg" alt="">
							</a>
							<a class="title" href="#">День любимого папы</a>
							<div class="date">20 - 23 февраля</div>
						</div>
					</li>
				</ul>
				<footer class="section-footer">
					<div class="inner">
						<a class="default button" href="#">Все мероприятия</a>
					</div>
				</footer>
			</section> <!-- /.section-events -->

			<section class="section section-promo">
				<h1 class="section-heading">Акции <span class="visible-small-inline">и скидки</span></h1>
				<ul class="promo-grid" data-xsmall-cols="2" data-medium-cols="3" data-large-cols="4">
					<li data-sx="2" data-sy="1" data-xxsmall-visible="0" data-xsmall-visible="1" data-xsmall-x="1" data-xsmall-y="1">
						<a href="#"><img src="img/demo/promo-1.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="1" data-sy="1" data-xxsmall-x="1" data-xxsmall-y="1" data-xsmall-y="2" data-medium-x="3" data-medium-y="1">
						<a href="#"><img src="img/demo/promo-2.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="1" data-sy="2" data-xxsmall-x="1" data-xxsmall-y="2" data-xsmall-x="2" data-xsmall-y="2" data-medium-visible="0" data-medium-x="4" data-medium-y="1" data-large-visible="1">
						<a href="#"><img src="img/demo/promo-3.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="1" data-sy="1" data-xxsmall-x="1" data-xxsmall-y="4" data-xsmall-y="3" data-medium-y="2">
						<a href="#"><img src="img/demo/promo-4.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="2" data-sy="1" data-xxsmall-visible="0" data-xsmall-visible="1" data-xsmall-x="1" data-xsmall-y="4" data-medium-x="2" data-medium-y="2">
						<a href="#"><img src="img/demo/promo-5.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
				</ul> <!-- /.promo-grid -->
				<footer class="section-footer">
					<div class="inner">
						<a class="default button" href="#">Все акции</a>
					</div>
				</footer>
			</section> <!-- /.section-promo -->

			<section class="section section-shops">
				<h1 class="section-heading"><span class="visible-small-inline">Наши</span> магазины</h1>
				<div class="shops-swiper">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<a class="swiper-slide" href="#">
								<img src="img/demo/shop-1.jpg" alt="">
							</a>
							<a class="swiper-slide" href="#">
								<img src="img/demo/shop-2.jpg" alt="">
							</a>
							<a class="swiper-slide" href="#">
								<img src="img/demo/shop-3.jpg" alt="">
							</a>
							<a class="swiper-slide" href="#">
								<img src="img/demo/shop-4.jpg" alt="">
							</a>
							<a class="swiper-slide" href="#">
								<img src="img/demo/shop-5.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div> <!-- /.shops-swiper -->
				<footer class="section-footer">
					<div class="inner">
						<a class="default button" href="#">Всего в MARI 214 магазинов</a>
					</div>
				</footer>
			</section> <!-- /.section-shops -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>