<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Новости</li>
			</ol>

			<section class="section section-news">
				<h1 class="section-heading">Новости <span class="visible-small-inline">и публикации</span></h1>
				<ul class="news-grid small-6 large-3">
					<li>
						<div class="news-card">
							<a class="title" href="#">Неделя знаний в MARI</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Вниманию всех арендаторов!</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Gloria Jeans скоро в MARI</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Заказывайте баннера у нас</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Внимание, переезд арендаторов</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Неделя знаний в MARI</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Фестиваль уличной культуры</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
					<li>
						<div class="news-card">
							<a class="title" href="#">Неделя знаний в MARI</a>
							<div class="teaser">Показательные спортивные
							выступления, подарки и призы для участников, конкурсы
							для зрителей и многое другое ждёт Вас в эти выходные!
							Номинации — «Dance show», «Hip-hop battle», а также
							«Break dance battle» , LETO</div>
							<div class="date">20 февраля 2017</div>
						</div>
					</li>
				</ul>
				<footer class="section-footer">
					<div class="inner">
						<a class="default button" href="#">Больше новостей</a>
					</div>
				</footer>
			</section> <!-- /.section-news -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>