<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Схема комплекса</li>
			</ol>

			<section class="section section-plan">
				<h1 class="section-heading">Схема <span class="visible-xsmall-inline">комплекса</span></h1>
				<%- entab(include('partials/plan'), 4) %>
			</section> <!-- /.section-plan -->
			
		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>