<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Акции и скидки</li>
			</ol>

			<section class="section section-promo">
				<h1 class="section-heading">Акции <span class="visible-small-inline">и скидки</span></h1>
				<ul class="promo-grid" data-xsmall-cols="2" data-medium-cols="3" data-large-cols="4">
					<li data-sx="2" data-sy="1" data-xxsmall-visible="0" data-xsmall-visible="1" data-xsmall-x="1" data-xsmall-y="1">
						<a href="#"><img src="img/demo/promo-1.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="1" data-sy="1" data-xxsmall-x="1" data-xxsmall-y="1" data-xsmall-y="2" data-medium-x="3" data-medium-y="1">
						<a href="#"><img src="img/demo/promo-2.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="1" data-sy="2" data-xxsmall-x="1" data-xxsmall-y="2" data-xsmall-x="2" data-xsmall-y="2" data-medium-visible="0" data-medium-x="4" data-medium-y="1" data-large-visible="1">
						<a href="#"><img src="img/demo/promo-3.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="1" data-sy="1" data-xxsmall-x="1" data-xxsmall-y="4" data-xsmall-y="3" data-medium-y="2">
						<a href="#"><img src="img/demo/promo-4.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
					<li data-sx="2" data-sy="1" data-xxsmall-visible="0" data-xsmall-visible="1" data-xsmall-x="1" data-xsmall-y="4" data-medium-x="2" data-medium-y="2">
						<a href="#"><img src="img/demo/promo-5.jpg" alt="" data-object-fit="cover" data-object-position="50% 50%"></a>
					</li>
				</ul> <!-- /.promo-grid -->
				<footer class="section-footer">
					<div class="inner">
						<a class="default button" href="#">Архив акций</a>
					</div>
				</footer>
			</section> <!-- /.section-promo -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>