<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li><a href="categories.html">Магазины</a></li>
				<li>Детский мир</li>
			</ol>

			<section class="section section-shop">
				<h1 class="section-heading">Детский мир</h1>
				<div class="shop">
					<div class="logo-column">
						<div class="logo">
							<img src="img/demo/shop.jpg" alt="">
						</div>
						<ul class="info-rows">
							<li><i class="icon-clock-16"></i>с 10:00 до 22:00</li>
							<li><a href="tel:+74957777777"><i class="icon-mobile-16"></i>+7 (495) 777-77-77</a></li>
							<li><a href="https://www.yandex.ru"><i class="icon-login-16"></i>https://www.yandex.ru</a></li>
						</ul>
					</div>
					<div class="main-column article-content">
						<a class="plan-link" href="plan.html">1 этаж</a>
						<p>Более 120 тысяч наименований детских товаров
						удовлетворят потребностям самых взыскательных покупателей.</p>
						<p>Магазины сети предлагают своим покупателям полный
						ассортимент товаров для детей в возрасте от 0 до 12 лет,
						включая игрушки, одежду, обувь, школьно-письменные,
						канцелярские, товары для новорожденных, спортивные
						товары, книги, а также товары по уходу за детьми.</p>
						<p>Ассортимент ориентирован на семьи со средним уровнем
						дохода, то есть на тех потребителей, которые
						заинтересованы в приобретении высококачественных товаров
						по доступным ценам.</p>
					</div>
					<div class="photo-column">
						<img src="img/demo/shop-photo.jpg" alt="">
					</div>
				</div>
			</section> <!-- /.section-shop -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>