<%- include('partials/head', {loggedIn: true}) %>

	<main>
		<div class="container">

			<ol class="breadcrumbs">
				<li><a href="index.html">Главная</a></li>
				<li>Арендаторам</li>
			</ol>

			<article class="section section-to-renters">
				<h1 class="section-heading">Арендаторам</h1>
				<div class="content-row row">
					<div class="content-column column medium-7 large-8">
						<nav class="tabs">
							<ul>
								<li class="active"><a href="#rent-tab">Аренда в ТРК MARI</a></li>
								<li><a href="#rules-tab">Правила <span class="visible-large-inline">и регламенты</span></a></li>
							</ul>
						</nav>
						<div class="tab-panes article-content">
							<div class="tab-pane active" id="rent-tab">
								<p>Девелопером и инвестором проекта является
								‘Финансово-строительная корпорация Лидер’ –
								российская многопрофильная компания, деятельность
								которой охватывает все сегменты рынка недвижимости
								от комплексной застройки микрорайонов до
								строительства жилых домов по индивидуальным
								проектам.</p>
								<p>За концепцию и архитектуру проекта отвечал
								Сергей Гнедовский, генеральный директор Проектного
								научно-консультативного бюро ‘Архитектура и
								культурная политика’.</p>
								<p>Группа Blank Architects была привлечена для
								создания внутреннего дизайна и функционального
								зонирования интерьеров.</p>
								<p>Генеральным подрядчиком проекта выступила
								МСУ-1, компания с обширным портфолио и 14-летним
								опытом работы, обеспечившая полный спектр
								строительных работ.</p>
							</div> <!-- /.tab-pane -->
							<div class="tab-pane" id="rules-tab">
								<p>За концепцию и архитектуру проекта отвечал
								Сергей Гнедовский, генеральный директор Проектного
								научно-консультативного бюро ‘Архитектура и
								культурная политика’.</p>
								<p>Генеральным подрядчиком проекта выступила
								МСУ-1, компания с обширным портфолио и 14-летним
								опытом работы, обеспечившая полный спектр
								строительных работ.</p>
							</div> <!-- /.tab-pane -->
						</div> <!-- /.tab-panes -->
					</div>
					<div class="column medium-5 large-4">
						<form class="callback-form">
							<h2 class="title">Обратная связь</h2>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Телефон">
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="4" placeholder="Текст сообщения"></textarea>
							</div>
							<button class="primary button" type="submit">Отправить сообщение</button>
						</form>
					</div>
				</div> <!-- /.content-row -->
			</article> <!-- /.section-contacts -->

		</div> <!-- /.container -->
	</main>

	<%- entab(include('partials/bottom-nav'), 1) %>
	<%- entab(include('partials/footer'), 1) %>

<%- include('partials/feet') %>